<% 
   get_involved_link = '<a href="%s"><img title="Get Involved!" src="/images/gi_overview.png"/></a>' % getinvolved_path
-%>
<div class="content-block">
  <center>
  <table class="getinv-table">
    <tr>
      <td  align="center">
	<% if @page == 'volunteer' -%>
	<%= get_involved_link %>
	<% else -%>
	<a href="/getinvolved/volunteer"><img title="Volunteer" src="/images/gi_volunteer.png" /></a>
	<% end -%>
      </td>
      <td align="center">
	<% if @page == 'donate' -%>
	<%= get_involved_link %>
	<% else -%>
	<a href="/getinvolved/donate"><img title="Donate" src="/images/gi_donate.png" /></a>
	<% end -%>
      </td>
      <td  align="center">
	<% if @page == 'business' -%>
	<%= get_involved_link %>
	<% else -%>
	<a href="/getinvolved/business"><img title="Business/Gallery inquiries" src="/images/gi_business.png" /></a>
	<% end -%>
      </td>
    </tr>
  </table>
  <% if flash and flash[:notice] and !flash[:notice].empty? %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
  <% end %>
  <% if flash and flash[:error] and !flash[:error].empty? %>
  <div class="error-msg">
    <%= flash[:error] %>
  </div>
  <% end %>
  </center>
<% if ['volunteer','donate','business'].include? @page -%>
<%= render :partial => "/main/getinvolved/%s" % @page %>
<% else -%>
<%= render :partial => "/main/getinvolved/overview" %>
<% end -%>

