<div data-role="content">
  <div class="banner-img"><img src="/images/art_is_the_mission_badge.png"></div>
  <div>
    <ul data-role="listview">
      <% if Conf.oslive %>
      <%= render_as_mobile_list_item 'open studios apr 14-15', :link => '/openstudios' %>
      <% end %>
      <%= render_as_mobile_list_item 'art', :link => '/artists/thumbs' %>
      <%= render_as_mobile_list_item 'artists by first name', :link => '/artists_by_firstname' %>
      <%= render_as_mobile_list_item 'artists by last name', :link => '/artists_by_lastname' %>
      <%= render_as_mobile_list_item 'studios', :link => '/studios' %>
      <%= render_as_mobile_list_item 'events', :link => '/events' %>
    </ul>
  </div>
  <a class="fullsite" href="/non-mobile">show me the website non-mobile</a>
</div>
