#open_studios{'data-role' => 'content'}
  %h1 ArtSpan's Open Studios (in the Mission)
  .section
    %h4 
      Saturday, October 1 and Sunday October 2, 2011
      %br
      11am &mdash; 6pm
    = @spring_os_blurb 
  .section
    %h4 Participating Group Studios
    %ul.participant_list
      - @participating_studios.each do |s| 
        - ct = s.artists.open_studios_participants.count
        - wd = (ct > 1) ? "artists" : "artist"
        %li
          = link_to(s.name,s)
          (#{ct} #{wd}) &mdash; #{s.street}
  .section 
    %h4 Participating Independent Artists
    %ul
      - @participating_indies.each do |a| 
        - street = " &mdash; #{a.address_hash[:parsed][:street]}"
        %li
          = link_to(a.get_name(true), a)
          #{street}
  .section
    .markdown
      = @preview_reception_html

