<div id="open_studios" class="logo-space">
  <h1>Spring Open Studios in the Mission</h1>
  <div class="section">
    <h5>Saturday, April 16 and Sunday April 17, 2011</h5>
    <h5>11am &mdash; 6pm</h5>
    <p>
      More than 200 artists using all mediums open their doors to the public for a weekend of art, inspiration
      and collecting.
    </p>
    <p>
      Free admission.
      Stroll the Mission from studio to studio following the dots painted on the sidewalks.
    </p>
  </div>
  <div class="section">
    <h5>Participating Group Studios</h5>
    <ul class="participant_list">
      <% @participating_studios.each do |s| 
           ct = s.artists.open_studios_participants.count
           wd = (ct > 1) ? "artists" : "artist" -%>
      <li><%= link_to s.name,s  %>  <%= "(#{ct} #{wd})" %> &mdash; <%= s.street %></li>
      <% end -%>
    </ul>
  </div>
  <div class="section">
    <h5>Participating Independent Artists</h5>
    <ul>
      <% @participating_indies.each do |a| -%>
      <li><%= link_to a.get_name(true), a %> &mdash; <%= a.street %></li>
      <% end -%>
    </ul>
  </div>
  <div class="section">
    <div class="markdown">
      <%= @preview_reception_html %>
    </div>
  </div>
</div>
