#open_studios
  = render :partial => '/flash_notice_error'
  .section.markdown.editable{@presenter.summary_data}
    = @presenter.summary
  -# .section.artist-links
  -#   %h5
  -#     %a{:href => artists_path(:osonly => true)} Open Studios Art
  -#   %h5
  -#     %a{:href => map_artists_path(:osonly => true)} Online Map
  -#   %h5
  -#     %a{:href => "http://spider-t.com/map/mau2013.pdf"} Pretty Map (PDF)
  -#   .clear
  .section.markdown.editable{@presenter.preview_reception_data}
    = @presenter.preview_reception
  .section
    %h4 Participating Group Studios
    %ul.participant_list
      - @presenter.participating_studios.each do |s|
        - ct = s.artists.open_studios_participants.count
        - wd = (ct > 1) ? "artists" : "artist"
        %li
          = link_to(s.name,s)
          (#{ct} #{wd}) &mdash; #{s.street}
  .section
    %h4 Participating Independent Artists
    %ul
      - @presenter.participating_indies.each do |a|
        - street = " &mdash; #{a.address_hash[:parsed][:street]}".html_safe
        %li
          = link_to(a.get_name, a)
          #{street}
    = render :partial => '/main/info_footer'
