<div id="open_studios" class="logo-space">
  <h1>Spring Open Studios in the Mission</h1>
  <div class="section">
    <h4>Saturday, April 16 and Sunday April 17, 2011<br/>11am &mdash; 6pm</h4>
    <%= @spring_os_blurb %>
    <div class='artist-links'>
      <h5><a href="<%= artistsmap_path :osonly => true %>">Open Studios Map</a></h5>
      <h5><a href="<%= artists_path :osonly => true %>">Open Studios Art</a></h5>
      <h5>Catalog (coming soon)</h5>
    </div>
    <div class="clear"></div>
  </div>
  <div class="section">
    <h4>Participating Group Studios</h4>
    <ul class="participant_list">
      <% @participating_studios.each do |s| 
           ct = s.artists.open_studios_participants.count
           wd = (ct > 1) ? "artists" : "artist" -%>
      <li><%= link_to s.name,s  %>  <%= "(#{ct} #{wd})" %> &mdash; <%= s.street %></li>
      <% end -%>
    </ul>
  </div>
  <div class="section">
    <h4>Participating Independent Artists</h4>
    <ul>
      <% @participating_indies.each do |a| 
         street = " &mdash; #{a.address_hash[:parsed][:street]}"
         -%>
      <li><%= link_to a.get_name(true), a %><%= street %></li>
      <% end -%>
    </ul>
  </div>
  <div class="section">
    <div class="markdown">
      <%= @preview_reception_html %>
    </div>
  </div>
</div>
