.cms-content
  %h1 CMS Content
  .links
    = link_to 'Show This Document', @cms_document
    = "|"
    = link_to 'Document Index', cms_documents_path
  = render '/flash_notice_error'
  = form_for(@cms_document) do |f|
    = render '/common/form_errors', :form => f
    .header_inputs.clear
      .section
        = f.label :page
        = f.text_field :page
      .section
        = f.label :section
        = f.text_field :section
      .markdown-ctrls
        %span#process_markdown_btn.formbutton preview &raquo;
        = f.submit 'Save', :class => 'formbutton'

    .section.markdown-input
      = f.text_area :article, :rows => 50, :cols => 50, :class => 'input-markdown'
    .section.markdown-results
      .markdown#processed_markdown
        != MarkdownUtils::markdown @cms_document.article
    .clear
      Find more about Markdown here
      %a{:href =>"http://daringfireball.net/projects/markdown/basics",:target => "_blank"} markdown basics
      or on our
      %a{:href => "/tests/markdown"} markdown test page.
    %p
      = f.submit 'Save', :class => "formbutton"
  .links
    = link_to 'Show', @cms_document
    = "|"
    = link_to 'All', cms_documents_path
