-# expects art_piece as art_piece_presenter
.pure-u-1-5.art-piece__info
  - if logged_in? && (art_piece.artist == current_user)
    .card__controls
      .art-card__edit 
        = link_to art_piece.edit_path, title: 'edit this art' do
          .fa.fa-icon.fa-edit
      .art-card__delete 
        = link_to art_piece.destroy_path, confirm: 'Are you sure you want to remove this piece of art from your portfolio?', method: :delete, title: "Delete" do
          .fa.fa-icon.fa-close
  .desc
    .ngwrapper{ "ng-if" => "hasDimensions()" }
      %h4.title Dimensions
      .dimensions 
        {{currentArtPiece.art_piece.dimensions}}
      = art_piece.display_dimensions
    .ngwrapper{ "ng-if" => "hasYear()" }
      %h4.title Date
      .date 
        {{currentArtPiece.art_piece.year}}
      = art_piece.year
    .ngwrapper{ "ng-if" => "hasMedia()" }
      %h4.title Medium
      .media
        = link_to art_piece.medium.name.html_safe, art_piece.medium
    .ngwrapper{ "ng-if" => "hasTags()" }
      %h4.title Tags
      .tags
        = art_piece.tags.map{|t| link_to t.name.html_safe, t}.join(", ").html_safe
.pure-u-4-5.art-piece
  %img.pure-img{ "src" => "{{currentArtPiece.art_piece.image_files.large}}" }

