-# expects angular app to be setup
-# expects local :browser as ThmbnailBrowserPresenter
- if browser.has_thumbs?
  .clear
  #artp_thumb_browser{:class => browser.row_class}
    .prev{:class => browser.row_class}
      %a#prev_img_lnk{:href=>"#", 'ng-click' => "current = #{browser.prev_img}"}
        #prev-browse
    .thumb-browser-thumbs
      - browser.thumbs.each do |t|
        %a.jump-to{"href" => "##{t.id}", 'ng-click' => "current = #{t.id}"}
          .tiny-thumb{"style" => t.background_style, 'ng-class' => "{selected: isCurrent('#{t.id}')}"  }
            &nbsp;
    .next{:class => browser.row_class}
      %a#next_img_lnk{:href=>"#", 'ng-click' => "current = #{browser.next_img}"}
        #next-browse
  .clear
- else
  &nbsp;
