<script type="text/javascript">
  MAU.Thumbs.ThumbList = <%= @thumbs.to_json %>;
  MAU.Thumbs.curIdx =  MAU.Thumbs.Helpers.find_thumb(<%= @art_piece.id %>);
</script>
<% if @thumbs.length > 0 -%>
<div class="browser-buttons">
  <div class="prev"><a title="" id="prev_img_lnk" href="#" apid="<%= @prev_img %>" ><div id="prev-browse"></div></a></div>
  <div class="middle">browse</div>
  <div class="next"><a title="" id="next_img_lnk" href="#" apid="<%= @next_img %>" ><div id="next-browse"></div></a></div>
</div>
  <div class="clear"></div>
<div id="artp_thumb_browser">
  <%  @thumbs.each do |t| -%>
  <div>
    <a href="#<%= t[:id] %>" class="jump-to">
      <div class="<%= t[:clz] %>" style="background-image:url(<%= t[:path] %>); background-position: center center;">&nbsp;
        <img src="/images/pix.gif" class="tiny-thumb" />
      </div>
    </a>
  </div>
  <% end -%>
  <div class="clear"></div>
  <% else -%>
  &nbsp;
  <% end -%>
</div>

