<% if piece 
     linkto = ''
     if artist_link && piece.artist
        linkto = artist_path(piece.artist)
     else
        linkto = art_piece_path(piece)
     end
     dim = ""
     cls = ""
     wd, ht = compute_actual_image_size(size, piece)
     if wd > 0 and ht > 0
       dim = "width=\"%s\" " % wd
     end        
     cls += size
     if show_footer or delete or select
       topcls =" with-foot "
     end
-%>
<div pid="<%= piece.id %>" class="artp-thumb-container <%= cls %> <%= topcls %>">
  <div pid="<%= piece.id %>" class="artp-thumb <%= cls %> "><% if piece.get_path(size) 
        if !linkto.empty? && !delete && !select
-%><a href="<%= linkto %>"><img alt="<%=h piece.title %>" title="<%=h piece.title %>" <%= dim %> src="<%= piece.get_path(size) %>" /></a><% 
        else 
-%><img alt="<%=h piece.title %>" title="<%=h piece.title %>"  src="<%= piece.get_path(size) %>" /><%
        end
      else -%>
      No Image
      <% end -%>
  </div>
<%   if Conf.oslive && piece.artist.os_participation[Conf.oslive.to_s] -%>
<div class='os-star' title="I'll be in Open Studios!"></div>
<%   end -%>
<%
     if show_footer -%><div class="name"><%
        if piece && piece.artist
	 name = "" 
	 name << piece.artist.get_name(true)
		 -%><%= link_to name, linkto, :class => 'lkthumb' %><% 
        else -%>unknown artist<% 
        end -%></div><% 
     end 
-%><% 
 if piece 
     if delete -%><div class="artp-thumb-ctrl">
      <%= check_box( 'art', piece.id, options = { :class => "checker" }, checked_value = "1", unchecked_value = "0") %>Delete?</div><% 
     elsif select 
-%><div class="artp-thumb-ctrl"  pid="<%= piece.id %>" ><span title="move this picture to the left" class="mv-left leftarrow"></span><span title="move this picture to the right" class="mv-right rightarrow"></span></div><% 
 end -%></div><% end -%><% end -%>
