:ruby
  artist ||= artist
  the_artist ||= (artist.try(:artist) || piece.artist)
  cls = ""
  cls += size
  if piece
    linkto = ''
    if artist_link && the_artist
      linkto = artist_path(the_artist)
    else
      linkto = piece.path
    end
    dim = piece.width(size)
  end
  if show_footer or delete
    topcls =" with-foot "
  end
%li.artp-thumb-container{:class => "#{cls} #{topcls}", :pid => piece && piece.id}
  - if !piece
    .artp-thumb{:class => "#{cls} no-art"}
      nothing
      .name
        = link_to the_artist.get_name, the_artist, :class => 'lkthumb'
      - if Conf.oslive && the_artist.doing_open_studios?
        .os-star{:title => "I'll be in Open Studios!"}

  - else
    .artp-thumb{:class => cls, :pid => piece.id}
      - if piece.get_path(size)
        - if !linkto.empty? && !delete && !select
          %a{:href => linkto}
            %img{:title => piece.title, :alt => piece.title, :width => dim, :src => piece.get_path(size) }
        - else
          %img{:title => piece.title, :alt => piece.title, :src => piece.get_path(size) }
      - else
        %span.no_image
          No Image
    - if Conf.oslive && the_artist.doing_open_studios? && !delete && !select
      .os-star{:title => "I'll be in Open Studios!"}
    - if show_footer
      .name
        = link_to the_artist.get_name, piece.path, :class => 'lkthumb'
    - if delete
      .artp-thumb-ctrl
        = check_box( 'art', piece.id, options = { :class => "checker" }, checked_value = "1", unchecked_value = "0")
        %label{:for => "art_#{piece.id}"}
          Delete?
