:ruby
  cls = ""
  cls += size
  if piece 
     linkto = ''
     if artist_link && piece.artist
        linkto = artist_path(piece.artist)
     else
        linkto = art_piece_path(piece)
     end
     dim = ""
     wd, ht = compute_actual_image_size(size, piece)
     if wd > 0 and ht > 0
       dim = wd
     end        
  end
  if show_footer or delete or select
     topcls =" with-foot "
  end

.artp-thumb-container{:class => "#{cls} #{topcls}", :pid => piece && piece.id}
  - if !piece 
    .artp-thumb{:class => "#{cls} no-art"}
      nothing
      .name 
        = link_to artist.get_name(true), artist, :class => 'lkthumb'
      - if Conf.oslive && artist.os_participation[Conf.oslive.to_s]
        .os-star{:title => "I'll be in Open Studios!"}

  - else 
    .artp-thumb{:class => cls, :pid => piece.id}
      - if piece.get_path(size)
        - if !linkto.empty? && !delete && !select
          %a{:href => linkto}
            %img{:title => piece.title, :alt => piece.title, :width => dim, :src => piece.get_path(size) }
        - else 
          %img{:title => piece.title, :alt => piece.title, :src => piece.get_path(size) }
      - else
        %span.no_image 
          No Image
    - if Conf.oslive && piece.artist.os_participation[Conf.oslive.to_s] && !delete && !select
      .os-star{:title => "I'll be in Open Studios!"}
    - if show_footer
      .name 
        = link_to piece.artist.get_name(true), art_piece_path(piece), :class => 'lkthumb'
    - if delete
      .artp-thumb-ctrl
        = check_box( 'art', piece.id, options = { :class => "checker" }, checked_value = "1", unchecked_value = "0")
        %label{:for => "art_#{piece.id}"}
          Delete?
    - elsif select
      .artp-thumb-ctrl{:pid => piece.id}
        %span.mv-left.leftarrow{:title =>"move this picture to the left"}
        %span.mv-right.rightarrow{:title => "move this picture to the right"}
