<% if piece 
     linkto = ''
     if artist_link && piece.artist
        linkto = artist_path(piece.artist)
     else
        linkto = art_piece_path(piece)
     end
     dim = ""
     cls = ""
     wd, ht = compute_actual_image_size(size, piece)
     if wd > 0 and ht > 0
       dim = "width=\"%s\" height=\"%s\"" % [wd,ht]
     end        
     cls += "artp-thumb-" + size[0].chr
     if show_footer or delete or select
        cls +=" with-foot "
     end
-%>
<div class="artp-thumb <%= cls %>">
      <% if piece.get_path(size) -%>
      <% if !linkto.empty? -%>
      <a href="<%= linkto %>"><img border="0" alt="<%=h piece.title %>" title="<%=h piece.title %>" <%= dim %> src="<%= piece.get_path(size) %>" /></a>
      <% else -%>
      <img border="0" alt="<%=h piece.title %>" title="<%=h piece.title %>"  src="<%= piece.get_path(size) %>" />
      <% end -%>
      <% else -%>
      No Image
      <% end -%>
	  <% if show_footer -%>
	  <div class="artp-thumb-name">
      <% if piece && piece.artist
	 name = "" 
	 name << piece.artist.get_name(true)
		 -%>
		 <%= link_to name, linkto, :class => 'lkdark' %>
	 <% else -%>
	 unknown artist
	 <% end -%>
	  <div class="clear"></div>
	  </div>
	  <% end -%>
  <% if piece 
     representative = (piece.id == piece.artist.representative_art_piece)
     -%>
  <% if delete -%>
<div class="artp-thumb-ctrl">
      <%= check_box( 'art', piece.id, options = {}, checked_value = "1", unchecked_value = "0") %>Delete?
</div>
  <% elsif select -%>
<div class="artp-thumb-ctrl">
      <%= radio_button_tag 'art', piece.id, representative %>
</div>
  <% end -%>
</div>

  <% end -%>
<% end -%>
