<h1>Listing art_pieces</h1>

<table>
  <tr>
	<th>Artist</th>
    <th>Filename</th>
    <th>Title</th>
    <th>Medium</th>
    <th>Dimensions</th>
  </tr>

<% @art_pieces.each do |art_piece| %>
  <tr>
	<td><%= art_piece.artist.login if art_piece.artist %></td>
    <td>
	  <% if art_piece.filename %>
	  <img src="<%= art_piece.get_path('thumb') %>" />
	  <% else %>
	  No image
	  <% end %>
	</td>
    <td><%= art_piece.title %></td>
    <td>
    </td>
    <td><%= art_piece.dimensions %></td>
    <td><%= link_to 'Show', art_piece %></td>
    <td><%= link_to 'Edit', edit_art_piece_path(art_piece) %></td>
    <td><%= link_to 'Destroy', art_piece, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<% if logged_in? %>
<%= link_to 'New art_piece for ' + current_artist.login, new_art_piece_path %>
<% else %>
Log in to add art pieces
<% end %>
