- artist = @art_piece.artist

%script{ 'type' => 'text/javascript' }
  jQuery(function() { 
  jQuery('.thumbnailApp div').first().trigger('focus'); 
  })

.thumbnailApp{ "ng-app" => "ArtPiecesApp", "ng-controller" => "artPiecesController", 'ng-init' => "init(#{@art_piece.angular_config})", "ng-keydown" => "handleKeyDown($event)", "tabindex" => '0'}

  %table.tbl-content
    %tr
      %td.lcol{:colspan => 2}
        = render "sidebar_info", :artist => artist
        = render "/art_pieces/thumb_browser", :browser => @thumb_browser
      %td.vstripe
      %td.rcol{:colspan => 2}
        .logo-spacer
        = render :partial => '/flash_notice_error'
        #artpiece_title{"ng-bind-html" => "currentArtPiece.title"} 
          = @art_piece.title
        #artpiece_container
          .artpiece_wrapper
            %img#artpiece_img{:src => @art_piece.get_path(), 'ng-src' => '{{currentArtPiece.image_files.medium}}'}
            #social_panel
              .social_buttons
                %span.pinterest
                  %a{:target => '_blank', :class => 'pinit_art_piece', "data-pin-config" => "beside", 'ng-href' => "{{pinterestLikeLink()}}", "data-pin-do" => "buttonPin"}
                    %img{:src => "http://assets.pinterest.com/images/pidgets/pin_it_button.png"}

                %span.facebook
                  = render '/common/facebook_like_button'
              .mau_buttons
                - if !current_user || (@art_piece.artist != current_user)
                  %a.favorite_this{:href => "#", :fav_type => "ArtPiece", :fav_id => @art_piece.id, :title => "Add this art piece to your favorites"}
                    #num_favorites{ "ng-bind" => "currentArtPiece.favorites.count" }
                    .micro-icon.heart
            - if Conf.show_lightbox_feature
              .zoom-corner
                %a{:class => 'zoom', "ng-href" => "{{currentArtPiece.image_files.large}}", "ng-attr-title" => "{{currentArtPiece.title}}" }
                  %img.zoom{:src => '/images/icons/zoom_corner.png'}

          .art-piece-info{ 'ng-style' => "currentDisplayWidthStyle()" }
            .basic
              .entry#ap_medium{'ng-show' => 'currentArtPiece.medium'}
                Medium:
                %a{"ng-href"=>"/media/{{currentArtPiece.medium.id}}", "ng-bind-html" => "currentArtPiece.medium.name"}
              .entry#ap_dimensions{'ng-show' => 'currentArtPiece.dimensions'}
                Dimensions:
                %span{"ng-bind-html" => 'currentArtPiece.dimensions' }
              .entry#ap_year{'ng-show' => 'currentArtPiece.year'}
                Created:
                {{ currentArtPiece.year }}
            #ap_tags{"ng-show" => 'hasTags()'}
              Tags:
              %span{"ng-repeat" => "tag in currentArtPiece.tags"}
                %a.tag{"ng-href"=>"/art_piece_tags/{{tag.id}}", "ng-bind-html" => "tag.name" } 


          .edit-buttons
            - if logged_in? and current_user == artist
              %span#artpiece_edit
                %a{"ng-href" => "{{editArtPiecePath}}"} edit
              %span#artpiece_del
                %a{"ng-href" => "{{artPiecePath}}", "data-confirm" => 'You are about to remove this art piece from your collection.  Are you sure you want to do that?', "data-method" => "delete", "rel" => "nofollow"} delete

