%script{:type => "text/javascript"}
  var cur_idx = #{@cur_idx || 1};
  var prev_idx = #{@prev_idx || 1};
  var next_idx = #{@next_idx || 1};
%table.tbl-content
  = render :partial => "/twocol_top"
  %tr
    - artist = @art_piece.artist if @art_piece.artist
    %td.lcol{:colspan => 2}
      - if @art_piece
        = render :partial => "sidebar_info", :locals => { :artist => artist }
        = render :partial => "/art_pieces/thumb_browser"
        - form_tag artist_path(artist), :method => 'get' do
          %input.formbutton{:type => "submit", :value => "Artist's Page", :name => "submit"}
    %td.vstripe
    %td.rcol{:colspan => 2}
      .logo-spacer
      = render :partial => '/flash_notice_error' 
      - if @art_piece 
        #artpiece_title 
          &= @art_piece.title
        #artpiece_container
          .artpiece_wrapper
            - if @art_piece.filename
              %img#artpiece_img{:src => @art_piece.get_path('medium')}
            #social_panel
              .social_buttons
                %span.pinterest
                  = render :partial => '/common/pinit_button'
                %span.facebook
                  = render :partial => '/common/facebook_like_button'
              .mau_buttons
                - if !current_user || (@art_piece.artist != current_user)
                  %a.favorite_this{:href => "#", :fav_type => "ArtPiece", :fav_id => @art_piece.id, :title => "Add this art piece to your favorites"}
                    #num_favorites #{@favorites_count if @favorites_count.to_i > 0}
                    .micro-icon.heart
            - if Conf.show_lightbox_feature
              %a{:class => 'zoom zoom-corner', :href => '#', 'data-image' => "#{@zoomed_art_piece_path}", 'data-imagewidth' => @zoomed_width, 'data-imageheight' => @zoomed_height, :style => (@zoomed_art_piece_path ? '' : 'display:none' ) }
                .zoom

          .art-piece-info
            :ruby 
              basic_info = []
              basic_info << ['ap_medium', link_to(@art_piece.medium.name, @art_piece.medium)] if @art_piece.medium_id and @art_piece.medium_id > 0
              basic_info << ['ap_dimensions', @art_piece.dimensions] if !@art_piece.dimensions.empty?
              basic_info << ['ap_year', @art_piece.year] if @art_piece.year.present? and @art_piece.year.to_i > 1899
            .basic
              %span{:id => bits[0]} 
                - basic_info.each_with_index do |bits, idx|
                  =h bits[1]
                  = (idx != (basic_info.length - 1)) ? ", " : "."
                
            - if !@art_piece.art_piece_tags.empty? 
              .tags
                %label Tagged with:
                %span#ap_tags
                  = @art_piece.uniq_tags.map{ |t| link_to t.safe_name, t }.join(", ")
                
        .edit-buttons
          - if logged_in? and current_user == artist
            = render :partial => "edit_delete_buttons.erb"
  = render :partial => "/twocol_bottom"
