<script type="text/javascript">
  var cur_idx = <%= @cur_idx || 1%>;
  var prev_idx = <%= @prev_idx || 1%>;
  var next_idx = <%= @next_idx || 1%>;
</script>
<table class="tbl-content" cellpadding="0" cellspacing="0">
  <%= render :partial => "/twocol_top" %>
  <tr>    
    <% if @art_piece
       artist = @art_piece.artist
       end 
       -%>
    <td class="lcol"  colspan='2'>
      <% if @art_piece -%>
      <%= render :partial => "sidebar_info", :locals => { :artist => artist } %>
      <%= render :partial => "/art_pieces/thumb_browser" %>
      <form method="get" action="<%= artist_path(artist) %>"><input class="formbutton" type="submit" value="Artist's Page" name="submit">
      </form>
      <% end -%>
    </td>
    <td class="vstripe"></td> 
    <td class="rcol"  colspan='2'>
      <div class="logo-spacer"></div><!-- art_pieces/show -->
      <% if flash[:error] -%>
      <div class="error-msg">
	<%= flash[:error] %>      
      </div>
      <% end -%>
      <% if flash[:notice] -%>
      <div class="notice">
	<%= flash[:notice] %>      
      </div>
      <% end -%>

      <% if @art_piece -%>
      <div id="artpiece_title"><%=h @art_piece.title %></div>
      <div id="artpiece_container">
        <span>
	  <% if @art_piece.filename -%>
	  <img id="artpiece_img" src="<%=h @art_piece.get_path('medium') %>" />
	  <% end -%>
          <div class="action-icons">
	    <a href="<%= ArtPiecesHelper.tw_share_link(@art_piece) %>" target="_new" title="Share this page on Twitter"><div class="micro-icon twitter"></div></a>
            <a href="<%= ArtPiecesHelper.fb_share_link(@art_piece) %>" target="_new" title="Share this page on Facebook"><div class="micro-icon facebook"></div></a>
	    <% if (!current_user || (current_user && current_user.id != artist.id)) %>
            <a href="#" class="favorite_this" fav_type="ArtPiece" fav_id="<%= @art_piece.id %>" title="Add this art piece to your favorites" ><div class="micro-icon heart"></div></a>
	    <% end -%>
          </div>
        </span>
      </div>
      <div class="edit-buttons">
	<% if logged_in? and current_user == artist -%>
	<%= render :partial => "edit_delete_buttons.erb" %>
	<% end -%>
      </div>
      <% end -%>
    </td>
  </tr>
  <%= render :partial => "/twocol_bottom" %>
</table>
