#signup
  .logo-spacer
  - if flash[:notice]
    .notice #{flash[:notice]}
  - if flash[:error]
    .error-msg
      We had trouble signing you in.  Please check your username and password.  If you continue to have problems, contact the webmaster with the link below.
      .sub-error-msg
        Error:
        = flash[:error]
  .signup-left
    %h2 Already A MAU Member?
    .signup-text
      - form_tag session_path, :id => 'login_form' do
        %table.login-table
          %tr
            %td.input-name
              = label_tag 'login'
            %td.input
              = text_field_tag 'login', @login
          %tr
            %td.input-name
              = label_tag 'password'
            %td.input
              = password_field_tag 'password', nil
          %tr
            %td{:colspan => 2, :align => 'center'}
              %input.formbutton{:type => "submit", :name => "commit", :value =>"Log in"} 
      .input-help
        %a{:href => forgot_users_path} Can't access your account?
  .signup-right
    :ruby
      data = Hash[@cms_content.select{|k,v| k != :content}.map{|item| ["data-%s" % item[0].to_s, item[1]] }]
    .section.markdown.editable{data}
      = @cms_content[:content]
      %div
        %form{:method => 'get', :action => signup_path}
          %input{:type => 'submit', :value => 'Sign Up Now', :class => 'formbutton'}
      



