<p>
  Dear Mission Artists Team member,
</p>
<p>
  Someone is trying to sign up and they need the secret word.
  Here's a little sample of what you might send to <%= @feedback.email %>.
</p>
<blockquote>
  Hi,
  <br/>
  The secret word is
  <br/>
  <%= Conf.signup_secret_word %>
  <br/>
  Welcome to the site!
  <br/>
  Cheers,
  <br/>
  Mission Artists Web Team
  <br/>
</blockquote>

<hr/>
<p><strong>Raw details</strong></p>
<p>
  Subject: <%= @feedback.subject %>   <br/>
  User's email: <%= @feedback.email %><br/>
  URL: <%= @feedback.url %><br/>
  Sent at: <%= Time.zone.now %><br/>
</p>
<p>
  Comment: <%= @feedback.comment %>
</p>
<p>
  Environment: <%= Rails.env %>
</p>
