<p/>We know that working with local businesses could be beneficial for all parties.  We've discussed things like short run art shows, coupons and other promotions that would cross promote both our organization and local businesses.
<p/>
If you are a business owner in the Mission district, please contact us and let's find out how we can work together!  Use the form below to give us as much information as you can and how you might like to get involved with Mission Artists United. We'd love to talk to you.

<div class="getinv-form-container ">
  <%= form_for @feedback, :url => getinvolved_path, :html => {:id => "getinv_form"} do |f| -%>
  <table class="getinv-form">
    <tr>
      <td class="getinv-form-container">
	<div id="bemail_input" class="getinv-input" >
	  <%= f.label 'email' %>
	  <% if !logged_in? -%>
	  <%= f.text_field 'email' %>
	  <% else %>
	  <%= f.text_field 'email', :readonly => 'readonly', :value => current_user.email %>
	  <% end -%>
	</div>
	<div id="bcomment_input" class="getinv-input" >
	  <%= f.text_area 'comment', :cols => 50, :rows => 10, :value => "<enter your comment here>" %>
	</div>
	<div id="send_input" >
	  <%= f.submit 'Send' %>
	</div>
      </td>
    </tr>
  </table>
  <%= f.hidden_field 'subject', :value => "Business/Gallery Inquiry" %>
  <%= f.hidden_field 'page', :value => request.referer %>
  <% if current_user -%>
  <%= f.hidden_field 'login', :value => current_user.login %>
  <%= f.hidden_field 'email', :value => current_user.email %>
  <% end -%>
  <% end -%>
</div>

