<p/>Local galleries tied in with a local art group - what could be better?  We know that ties with local galleries could be great for both the gallery and our working artists.
<p/>
If you are a gallery owner or curator in the Mission district, please contact us and let's find out how we can work together.  Use the form below to give us as much information as you can and how you might like to get involved with Mission Artists United. We'd love to talk to you.

<div class="getinv-form-container ">
  <%= form_for @feedback, :url => getinvolved_path, :html => {:id => "getinv_form"} do |f| -%>
	<div id="bemail_input" class="getinv-input" >
	  <%= f.label 'email' %>
	  <% if !logged_in? -%>
	  <%= f.text_field 'email' %>
	  <% else %>
	  <%= f.text_field 'email', :readonly => 'readonly', :value => current_user.email %>
	  <% end -%>
	</div>
	<div id="bcomment_input" class="getinv-input" >
	  <%= f.text_area 'comment', :cols => 50, :rows => 10, :placeholder => "<enter your comment here>" %>
	</div>
	<div id="bsend_input" >
	  <%= f.submit 'Send', :class => 'formbutton' %>
	</div>
  <%= f.hidden_field 'subject', :value => "Business/Gallery Inquiry" %>
  <%= f.hidden_field 'page', :value => request.referer %>
  <% if current_user -%>
  <%= f.hidden_field 'login', :value => current_user.login %>
  <%= f.hidden_field 'email', :value => current_user.email %>
  <% end -%>
  <% end -%>
</div>

