.pure-u-1-1.padded-content.event{:class => event.event_classes.join(" ")}
  %header
    .title
      #{event.title}
      .published_at #{event.display_published_time}

    .info
      .time #{event.display_event_time}
  .body
    .reception_time Reception: #{event.display_reception_time}

    .venue
      .name #{event.venue}
      .address
        %span.nobr #{event.address}
        .maplink
          %a{:target => '_blank', :href => event.map_link} (map)
    .clear
    .desc.markdown #{event.description}
    .url
      - if event.url?
        Event Website:
        = event.link_to_event_website
  %footer
    .ctrls
      = link_to 'show', event_path(event)
      - if event.published?
        = link_to 'unpublish', unpublish_admin_event_path(event)
      - else
        = link_to 'publish', publish_admin_event_path(event)
      = link_to 'edit', edit_event_path(event)
      = link_to 'delete', event_path(event), :confirm => 'Are you sure?', :method => :delete

