.pure-g
  .pure-u-1-1.padded-content.header
    %h2.title
      Events
      .admin-table__controls
        - if current_user.is_admin?
          = link_to new_event_path, title: 'add event' do
            = fa_icon "plus-circle"
  .pure-u-1-1.events.js-hideable-rows.padded-content
    = render :partial => '/flash_notice_error'
    .filters
      Hide:
      - [:future, :past, :in_progress].each do |filter|
        %div{:class => 'event_filter ' + filter.to_s}
          %label{:for => "event_filter_#{filter.to_s}"} #{filter.to_s.titleize}
          %input{:id => "event_filter_#{filter.to_s}", :class => 'time', :type => :checkbox,:value => filter.to_s}
      - [:published, :unpublished].each do |filter|
        %div{:class => 'event_filter ' + filter.to_s}
          %label{:for => "event_filter_#{filter.to_s}"} #{filter.to_s.titleize}
          %input{:id => "event_filter_#{filter.to_s}", :class => 'state', :type => :checkbox,:value => filter.to_s}
      %a.show_all [all]
    - @events.each do |ev|
      = render 'event_admin', :event => ev
