%button.update-artists update os status
%a.export-csv{:href => "?format=csv&%s" % request.query_string}
  %button export as csv

.admin-table
  %h1 Listing artists
  - if flash[:error]
    .error-msg Error: #{flash[:error]}
  - if flash[:notice]
    .notice #{flash[:notice]}

  .sortby 
    Sort By:
    - @allowed_sortby.each do |s|
      %a{:href => "?sortby=#{s}"} #{s}
    %br
    Reverse Sort By:
    - @allowed_sortby.each do |s|
      %a{:href => "?rsortby=#{s}"} #{s}
  .hide-rows
    Hide rows:
    .row-info
      %input{:type => 'checkbox', :value => 'active', :id => 'hide_active'}
      %label{:for => 'hide_active'} active
    .row-info
      %input{:type => 'checkbox', :value => 'pending', :id => 'hide_pending'}
      %label{:for => 'hide_pending'} pending
    .row-info
      %input{:type => 'checkbox', :value => 'participating', :id => 'participating'}
      %label{:for => 'participating'} signed up for OS

%table.admin-table
  %tr
    %th name
    %th studio
    %th info
    %th{:colspan => 2} Spring 2012 OS?
  - @artists.each_with_index do |a, idx| 
    :ruby
      classes = []
      classes << (((idx%2)==0) ? 'even':'odd')
      classes << 'pending' if a.state=='pending'
      classes << 'active' if a.state=='active'
      classes << 'participating' if a.os_participation['201204']
    %tr{:class => classes.join(' ')}
      %td.admin_artist_name
        %a{:href => artist_path(a)}
          = a.get_name(true)
        %br
        (activated? #{a.activated_at ? a.activated_at.strftime("%m/%d/%y") : a.state})
      %td.admin_artist_studio
        = a.studio.nil? ? "Indy/unk" : link_to(a.studio.name, a.studio)
      %td.admin_artist_info        
        .name
          Username: #{a.login}
        .email
          EM: #{a.email}
        .address
          Address: #{a.address}
        .active        
          Active? #{a.state=='active'}
        - if a.state != 'active' && a.activation_code.present?
          .activation_link
            Activation Link (created : #{a.created_at.strftime("%m/%d/%y")}) : 
            %br
            #{'http://%s/activate/%s' % [Conf.site_url, a.activation_code]}
        - if a.reset_code.present?
          .forgot_password_link 
            Reset Password Link:
            %br
            #{'http://%s/reset/%s' % [Conf.site_url, a.reset_code]}
              
      %td.spring2012{ :artistid => a.id } #{a.os_participation['201204'].to_s}
      %td
        %input.cbspring2012{:artistid => a.id, :type => 'checkbox', :name => 'artist%s' % a.id, :value => a.os_participation['201204'].to_s, :checked => (a.os_participation['201204'] ? "checked" : nil) }
   
%button.update-artists update os status


