<div id="arrange_art">
  <div class="logo-spacer">&nbsp;</div>	  
  <div class="title">
    <h4>Arrange your art pieces</h4>
    <div id="arrange_art_help">
      <%= render :partial => '/whatsthis/popup', :locals => { :section => 'arrange_art', :link_text => "what's this?", :parent => 'arrange_art', :use_icon => true, :title => "About Arranging Art" } %>
    </div>
  </div>
  <%= form_tag setarrangement_artists_path, :id => 'arrange_art_form'%>
  <div>
    <%= render :partial => '/art_pieces/thumbs', :locals => { :pieces => self.current_artist.art_pieces, :params => { :select => true, :show_footer => false, :cols => 5 }} %>
    <div class="clear"></div>
    <div class="help-txt little-txt">
Arrows shift image left and right. The top left image will be your Featured Image. Press SAVE when you're done. </div>
    <div class="edit-buttons">
      
      <input type="submit" value="Save"/>
      <input type="hidden" name="artist" value="<%= self.current_artist.id %>">
      <input class="formbutton" type="button" value="Cancel" onclick="MAU.goToArtist( <%= self.current_artist.id %>);"/>
    </div>
  </div>
  </form>
</div>
