<%= form_tag "/artists/destroyart" %>
	<div>
	  <div class="logo-spacer">&nbsp;</div>
	  <h4>Remove <%=h self.current_artist.get_name %>'s Artwork</h4>
	  <div>
	  <%= render :partial => '/art_pieces/thumbs', :locals => { :pieces => self.current_artist.art_pieces, :params => { :select => false, :delete => true, :show_footer => false, :cols => 5 }} %>
	  </div>
	  <div class="edit-buttons">
		<input type="submit" value="Delete Selected Images"/>
		<input type="hidden" name="artist" value="<%= self.current_artist.id %>">
		<input class="formbutton" type="button" value="Cancel" onclick="MAU.goToArtist( <%= self.current_artist.id %>);"/>
	  </div>
	</div>
</form>

