%form#paypal_donate_openstudios{:action=>"https://www.paypal.com/cgi-bin/webscr", :method=>"post"}
  %input{:type => "hidden", :name=> "cmd", :value => "_s-xclick"}
  %input{:type =>  "hidden", :name=> "hosted_button_id", :value=> "HYBAVYCTCEMUQ"}
  %img{ :alt=> "", :border=> "0", :src => "https://www.paypalobjects.com/WEBSCR-640-20110306-1/en_US/i/scr/pixel.gif", :width=> "1", :height=> "1"}

#artist_edit
  #profile_img
    %a{:title=> "update profile picture", :href=> add_profile_users_path}
      - if current_user.has_profile_image
        %img{:src=> current_user.get_profile_image('thumb') }
      - else
        %img{:src=> "/images/default-profile-img.png", :width=> "100" }
      .tag
        update profile picture
        .os-violator{:style=> (current_artist.doing_open_studios? ? '':'display:none;')}
          %img{:src=> "/images/os_star_violator.png"}
  %h4 My Account
  = render :partial => '/flash_notice_error'
  .edit-sections
    = form_for current_user do |f|
      = render '/common/form_errors', :form => f
      = render :partial => "/users/edit_basic_info", :locals => {:f => f}
      .open-close-div.acct>
        %span#events_toggle.title Open Studios
        %span.edit>
          %a#events_toggle_lnk{:href=> "#events"}> change
      .clear
      = render "edit_open_studios_status", :f => f
      = render "/users/edit_notifications", :f => f
      = render "/users/edit_links", :f => f

      .open-close-div.acct
        %span.title#studio_info_toggle Address/Studio Info
        %span.edit
          %a#studio_info_toggle_lnk{:href=> "#address"} change
      .edit-profile-sxn#address{:style=> "display:none;"}
        .inner-sxn.left
          .edit-table-header Studio
          %table.entry-table
            %tr
              %td.input-name &nbsp;
              %td
                = select :artist,"studio_id", [['None', 0]] + @studios.map{|u| [u.name,u.id]}, :selected => current_user.studio_id
              %td.input-err
            %tr.studio-number-row
              %td.input-name Studio #
              %td
                = text_field_tag "#{f.object_name}[artist_info[studionumber]]", @artist_info.studionumber
            %td.input-err
        .edit-table-header.splitter  (or)
        .inner-sxn.right
          .edit-table-header Address
          %table.entry-table
            - [[:street, "Street", ""], [:city, "City", "San Francisco"], [:addr_state, "State", "CA"], [:zip, "ZIP", ""]].each do |addr|
              %tr
                %td.input-name #{addr[1]}
                = @artist_info.send(addr[0]) || ''
                %td
                  = text_field_tag "#{f.object_name}[artist_info[#{addr[0]}]", @artist_info.send(addr[0]) ||''
                %td.input-err
        .clear
        .buttons
          = f.submit 'Save Changes', :class => "formbutton"
          = f.submit 'Cancel', :class => "formbutton"
      .open-close-div.acct
        %span.title#bio_toggle Bio/Artist's Statement
        %span.edit
          %a#bio_toggle_lnk#bio_toggle_lnk{:href=> "#bio"} change
      .edit-profile-sxn#bio{:style=> "display:none;"}
        .inner-sxn
          .title Artist's Bio:
        %div
          = text_area_tag "#{f.object_name}[artist_info[bio]]", @artist_info.bio, :class => "artist-bio"
          .input-help Please avoid html tags and any fancy formatting.  Newlines will be preserved.
        .buttons
          = f.submit 'Save Changes', :class => "formbutton"
          = f.submit 'Cancel', :class => "formbutton"

    = render :partial => "/users/edit_password"
    = render :partial => "/users/edit_deactivate"

  .edit-buttons
    - if !current_user.art_pieces.any?
      = link_to "Upload some of your art to share with the world!", new_art_piece_path
    - if current_user.art_pieces.length > 1
      = form_tag new_art_piece_path(), :method=> "get" do
        %input{:class=> "formbutton", :type =>  "submit",:value=> "Add Art" }
      = form_tag arrange_art_artists_path(), :method => "get" do
        %input{:class=> "formbutton", :type =>  "submit",:value=> "Arrange Art" }
      = form_tag delete_art_artists_path(), :method => "get" do
        %input{:class=> "formbutton",:type =>  "submit",:value=> "Delete Art" }
      %a{:href=> artist_path(current_user)}
        %button.formbutton Back to Profile
