%form#paypal_donate_openstudios{:action=>"https://www.paypal.com/cgi-bin/webscr", :method=>"post"}
  %input{:type => "hidden", :name=> "cmd", :value => "_s-xclick"}
  %input{:type =>  "hidden", :name=> "hosted_button_id", :value=> "HYBAVYCTCEMUQ"}
  %img{ :alt=> "", :border=> "0", :src => "https://www.paypalobjects.com/WEBSCR-640-20110306-1/en_US/i/scr/pixel.gif", :width=> "1", :height=> "1"}

#artist_edit
  #profile_img
    %a{:title=> "update profile picture", :href=> addprofile_users_path}
      - if current_user.has_profile_image 
        %img{:src=> current_user.get_profile_image('thumb') }
      - else
        %img{:src=> "/images/default-profile-img.png", :width=> "100" }
      .tag 
        update profile picture
        .os-violator{:style=> (current_artist.artist_info.os_participation[Conf.oslive.to_s]) ? '':'display:none;'}
          %img{:src=> "/images/os_star_violator.png"}
  %h4 My Account
  = render :partial => '/flash_notice_error'
  .edit-sections
    - form_for current_user do |f|
      = f.error_messages
      = render :partial => "/users/edit_basic_info", :locals => {:f => f}
      .open-close-div.acct>
        %span#events_toggle.title Open Studios
        %span.edit>
          %a#events_toggle_lnk{:href=> "#events"}> change
      .clear
      .edit-profile-sxn#events{:style=> "display:none;"}
        .inner-sxn
          - if !current_user.address.present?
            %p You need to specify an address or studio affiliation to sign up for Open Studios!
            %p 
              Check the 
              %em Address/Studio Info
              section below.
          - else
            :ruby
              data = Hash[@openstudios_question.select{|k,v| k != :content}.map{|item| ["data-%s" % item[0].to_s, item[1]] }]
            %p.markdown.editable{data}
              = @openstudios_question[:content]

            %p.os-status
              Your current answer is : 
              %span #{@artist_info.os_participation[Conf.oslive.to_s] ? 'Yep' : 'Nope'}
            = f.error_messages
            .yes-no-radios
              .radio-container.yep
                = radio_button_tag "#{f.object_name}[artist_info[os_participation[#{Conf.oslive}]]]", "true",  @artist_info.os_participation['201110']
                .formbutton Yep
              .radio-container.nope
                = radio_button_tag "#{f.object_name}[artist_info[os_participation[#{Conf.oslive}]]]", "false",  (!@artist_info.os_participation['201110'])
                .formbutton Nope
            .clear.donate
              And if you'd like to donate to help with our Open Studios promotion and keep this system running, here's a paypal donate button.  Thanks!
              %a#donate_for_openstudios{:href=> "#"}
                .donate_btn
            .clear
          .buttons
            = f.submit 'Save Changes'
            = f.submit 'Cancel'

      = render :partial => "/users/edit_notifications", :locals => {:f => f}
      = render :partial => "/users/edit_links", :locals => {:f => f}

      .open-close-div.acct
        %span.title#studio_info_toggle Address/Studio Info
        %span.edit
          %a#studio_info_toggle_lnk{:href=> "#address"} change
      .edit-profile-sxn#address{:style=> "display:none;"}
        .inner-sxn.left
          .edit-table-header Studio
          %table.entry-table
            %tr
              %td.input-name &nbsp;
              %td
                = select :artist,"studio_id", [['None', 0]] + @studios.map{|u| [u.name,u.id]}, :selected => current_user.studio_id
              %td.input-err
            %tr
              %td.input-name Studio #
              %td
                = text_field_tag "#{f.object_name}[artist_info[studionumber]]", @artist_info.studionumber
            %td.input-err
        .edit-table-header.splitter  (or)
        .inner-sxn.right
          .edit-table-header Address
          %table.entry-table
            - [[:street, "Street", ""], [:city, "City", "San Francisco"], [:addr_state, "State", "CA"], [:zip, "ZIP", ""]].each do |addr|
              %tr
                %td.input-name #{addr[1]}
                = @artist_info.send(addr[0]) || ''
                %td
                  = text_field_tag "#{f.object_name}[artist_info[#{addr[0]}]", @artist_info.send(addr[0]) ||''
                %td.input-err
        .clear
        .buttons
          = f.submit 'Save Changes'
          = f.submit 'Cancel'
      .open-close-div.acct
        %span.title#bio_toggle Bio/Artist's Statement
        %span.edit
          %a#bio_toggle_lnk#bio_toggle_lnk{:href=> "#bio"} change
      .edit-profile-sxn#bio{:style=> "display:none;"}
        .inner-sxn
          .title Artist's Bio:
        %div
          = text_area_tag "#{f.object_name}[artist_info[bio]]", @artist_info.bio, :class => "artist-bio"
          .input-help Please avoid html tags and any fancy formatting.  Newlines will be preserved.
        .buttons
          = f.submit 'Save Changes'
          = f.submit 'Cancel'

    = render :partial => "/users/edit_password"
    = render :partial => "/users/edit_deactivate"

  .edit-buttons
    %form{:method=> "get", :action=> new_art_piece_path }
      %input{:class=> "formbutton", :type =>  "submit",:value=> "Add Art" }
    - if current_user.art_pieces.length > 0 
      - if current_user.art_pieces.length > 1 
        %form{:method=> "get",:action=> arrangeart_artists_path}
          %input{:class=> "formbutton", :type =>  "submit",:value=> "Arrange Art" }
        %form{:method=> "get",:action=> deleteart_artists_path}
          %input{:class=> "formbutton",:type =>  "submit",:value=> "Delete Art" }
      %a{:href=> artist_path(current_user)}
        %button.formbutton Back to Profile
