.pure-g
  .pure-u-1-1.header.padded-content
    %h2.title My Account Info

.pure-g
  .pure-u-1-1.pure-u-lg-4-5.padded-content
    = render '/paypal_donation_form'

    = render '/artist_profile_image', :artist => current_artist

    = semantic_form_for current_user do |form|
      #user-accordion.panel-group
        .panel.panel-default
          = render '/users/edit/basic_info', form: form
        .panel.panel-default
          = render '/artists/edit/studio_info', form: form
        - if OpenStudiosEvent.current  
          .panel.panel-default
            = render '/artists/edit/open_studios_status', form: form
        .panel.panel-default
          = render '/users/edit/links', form: form
        .panel.panel-default
          = render '/artists/edit/bio', form: form
        .panel.panel-default
          = render '/users/edit/password', form: form
        .panel.panel-default
          = render '/users/edit/deactivate', form: form

        .panel.panel-default
        .panel.panel-default
        .panel.panel-default

    .tag update profile picture
    .os-violator{style: (current_artist.doing_open_studios? ? '':'display:none;')}
      %img{:src=> "/images/os_star_violator.png"}



  .edit-buttons
    - if !current_user.art_pieces.any?
      = link_to "Upload some of your art to share with the world!", new_artist_art_piece_path(current_user)
    - if current_user.art_pieces.length > 1
      = link_to "Add Art", new_artist_art_piece_path(current_user), class: 'pure-button'
      = link_to "Arrange Art", arrange_art_artists_path, class: 'pure-button'
      = link_to "Delete Art", delete_art_artists_path(), class: 'pure-button'
