#all_artists_page
  = render '/flash_notice_error'
  %h4 MAU Artists
  .artists_block
    = render :partial => '/flash_notice_error'
    = render :partial => '/artists/alpha_pagination'
    = render :partial => '/osswitch', :locals => { :params => @inparams}
    = render :partial => '/artists/view_switcher'
    = render :partial => '/pagination'
    .clear
    = render :partial => '/artists/thumbs', :locals => { :artists => @artists, :params => { :cols => 7 }}
    = render :partial => '/pagination'
