= render '/flash_notice_error'
.pure-g
  .pure-u-1-1
    %h2 Artists
.pure-g
  .pure-u-1-1
    = render '/artists/alpha_pagination', :alpha_links => @gallery.alpha_links
    = render '/osswitch', :os_only => @os_only
    = render '/artists/view_switcher', :roster_link => @roster_link, :gallery_link => @gallery_link, :map_link => @map_link
    = render '/common/pagination', :paginator => @gallery.pagination
.pure-g
  = render partial: 'artist', collection: @gallery.pagination.items
.pure-g
  .pure-u-1-1
    = render '/common/pagination', :paginator => @gallery.pagination
