#all_artists_page
  = render '/flash_notice_error'
  %h4 MAU Artists
  .artists_block
    = render '/flash_notice_error'
    = render '/artists/alpha_pagination', :alpha_links => @gallery_presenter.alpha_links
    = render '/osswitch', :params => @inparams
    = render '/artists/view_switcher'
    = render '/common/pagination', :paginator => @gallery_presenter.pagination
    .clear
    = render '/artists/thumbs', :artists => @gallery_presenter.pagination.items, :params => { :cols => 7 }
    = render '/common/pagination', :paginator => @gallery_presenter.pagination
