#all_artists_page
  = render '/flash_notice_error'
  %h4 MAU Artists
  .artists_block
    = render '/flash_notice_error'
    = render '/artists/alpha_pagination'
    = render '/osswitch', :params => @inparams
    = render '/artists/view_switcher'
    = render '/pagination'
    .clear
    = render '/artists/thumbs', :artists => @artists, :params => { :cols => 7 }
    = render '/pagination'
