- content_for :extra_javascript do
  %script{ :type => 'text/javascript' }
    = raw "MAU.map_markers = #{@map_info.map_data.to_json};"

  %script{ :src => "//maps.google.com/maps/api/js?key=#{Conf.ga_api_key}&v=3.13&sensor=false&libraries=geometry", :type => "text/javascript"}
  %script{ :src => "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js", :type => "text/javascript" }
  = javascript_include_tag 'gmaps_google'
  = javascript_include_tag 'mau/mau_gmap'

#map_page
  - if params[:format] != 'mobile'
    %div{:style => "margin: auto;" }
      = render '/osswitch', :os_only => @os_only
      = render '/artists/view_switcher', :roster_link => @roster_link, :gallery_link => @gallery_link, :map_link => @map_link
  .clear
  .map-roster
    .map-container
      #map-canvas{:width => 600, :height => 500}
    - @map_info.grouped_by_address_and_sorted.each do |addr,artists|
      .address-wrapper
        .map-addr
          = addr
        %ul.tenants
          - artists.each do |a|
            %li.map-name
              %a.artist-map-lnk{ :id => "artist_#{a.id}", :href => artist_path(a)}
                =h a.get_name
