<div id="all_artists_page">
<%= render :partial => '/artists/view_switcher' %>
<div class="map-roster little-txt">
  <% @roster.keys.each do |ky| -%>
<div class="map-addr"><%= ky %></div>
  <%   @roster[ky].each do |a| -%>
<div class="map-name"><%=h a.get_name %></div>
  <%   end -%>
  <% end -%>
</div>
<div class="map-os-switch">
  <form id="map_osswitcher" action="/artists/map">
    <% if @os_only == 'on' -%>
    <input name="all" id="map_cb" type="checkbox" checked="checked"></input>
    <% else -%>
    <input name="osonly" id="map_cb" type="checkbox"></input>
    <% end -%>
    (showing only open studios artists)
  </form>
</div>
<div class="map-container">
<%= GMap.header(:local_search => true) %>
<%= @map.to_html %>
<%= @map.div(:width => 600, :height => 500) %>
</div>
</div>
