<div id="map_page">
<%= render :partial => '/artists/view_switcher' %>
<div class="map-roster little-txt">
  <% @roster.keys.each do |ky| -%>
<div class="map-addr"><%= ky %></div>
  <%   @roster[ky].each do |a| -%>
<div class="map-name"><%=h a.get_name %></div>
  <%   end -%>
  <% end -%>
</div>
<%= render :partial => '/osswitch', :locals => { :dest => @selfurl, :params => @inparams} %>
<div class="map-container">
<%= GMap.header(:local_search => true) %>
<%= @map.to_html %>
<%= @map.div(:width => 600, :height => 500) %>
</div>
</div>
