- content_for :extra_javascript do
  %script{ :type => 'text/javascript' }
    = "<!--//--><![CDATA[//><!--"
    = raw "MAU.map_markers = #{@map_info.map_data};"
    = "//--><!]]>"

  %script{ :src => "//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry", :type => "text/javascript"}
  %script{ :src => '//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.16/src/markerclusterer_packed.js', :type => "text/javascript" }
  = javascript_include_tag 'gmaps/google'

.pure-g
  .pure-u-1-1.header.padded-content
    %h2.title Map
  .pure-u-1-1.pure-u-sm-1-2.pure-u-md-2-3.pure-u-lg-4-5.padded-content
    #map-canvas
  - @map_info.grouped_by_address_and_sorted.each do |addr,artists|
    .pure-u-1-1.pure-u-sm-1-2.pure-u-md-1-3.pure-u-lg-1-5.map__list-of-artists.padded-content
      .header
        = addr
      %ul.tenants
        - artists.each do |a|
          %li.map__artist
            %a.artist-map-lnk{ 'data-artist_id' => "artist_#{a.id}", href: artist_path(a) }
              = a.full_name
