<div>
<% if !@errmsg -%>
<table>
  <tr>
    <td class="popup-help-title">Send <%= @artist.get_name %> a note</td>
  </tr>
</table>
<div class="popup-help-text">
  <% form_tag '/artists/' + @artist.id.to_s + '/notify', :id => 'note_form', :method => :put do -%>
  <table class="fdbk-form">
    <% unless @error_message.blank? -%>
    <tr>
      <td class="error-msg">
	<%=h @error_message %>
      </td>
    </tr>
    <% end -%>
    <tr>
      <td class="note-form-container">
	<div id="name_input" class="fdbk-input">	
	  Your Name
	  <% if !logged_in? -%>
	  <%= text_field_tag 'name' %>
	  <% else -%>
	  <%= text_field_tag 'name', current_artist.get_name %>
	  <% end -%>
	</div>
	<div id="email_input" class="fdbk-input">
	  <% if !logged_in? -%>
	  Your Email
	  <%= text_field_tag 'email' %>
	  <% end -%>
	</div>
	<div id="comment_input" class="fdbk-input">
	  <%= text_area_tag 'comment', "<enter your note here>", :cols => 70, :rows => 10 %>
	</div>
	<div id="send_input">
	  <%= submit_tag 'Send' %>
	  <button class='formbutton' id="note_close_btn" onclick="return false;">Cancel</button>
	</div>
      </td>
      <%= hidden_field_tag 'page', request.referer %>
      <% if current_artist -%>
      <%= hidden_field_tag 'login', current_artist.login %>
      <%= hidden_field_tag 'email', current_artist.email %>
      <% end -%>
    </tr>
  </table>
  <% end -%>
</div>

<% else -%>
<%= @errmsg %>
<% end -%>
</div>
