<% if !@artist.errors.empty? %>
<div class="error-msg">
<%= error_messages_for :artist %>
</div>
<% end -%>

<% form_for :artist do |f| -%>
<h4>Request for New Password</h4>
<table id="reset_pass" class="signup-table">
  <tr>
    <td colspan="2" >
      <div>Pick a new password for <%= @artist.login %></div>
	</td>
  </tr>
  <tr>
    <td align="right"><label>New password:</label></td>
    <td><%= f.password_field :password %></td>
  </tr>
  <tr>
    <td align="right"><label>Confirm Password:</label></td>
    <td><%= f.password_field :password_confirmation %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= submit_tag 'Reset' %></td>
  </tr>
</table>
<% end -%>
