- if !@artist.valid?
  .error Sorry, we were unable to find that artist.
- else
  .artist
    - if @artist.doing_open_studios?
      %h2.os-star
        #{@artist.get_name}
        .os-star
      See this artist in their studio during
      = link_to "Open Studios", open_studios_path
    - else
      %h2
        #{@artist.get_name}
    .address
      - if @artist.studio
        .studio
          Studio:
          = link_to @artist.studio.name, @artist.studio
          .street
            #{@artist.studio.street}
            - if @artist.artist_info.studionumber.present?
              %span
                #{"#%s" % @artist.artist_info.studionumber}
            %span.lkmap #{ raw("(" + link_to('map', @artist.studio.map_link) + ")") }
      - else
        .indy
          - if @artist.artist_info.full_address.length > 1
            #{@artist.artist_info.street}
          %span.lkmap #{ raw("(" + link_to('map', @artist.artist_info.map_link) + ")") }

    - if @artist.media.present?
      .media.section
        %span Media:
        %span
          :ruby
            links = []
            @artist.media.each do |m|
              links << link_to(m.name, m, :class => "")
            end
          #{links.join(", ").html_safe}
    - if @artist.bio.present?
      .bio_link.section
        %span
          Bio/Statement:
        %span.snippet
          = @artist.bio.truncate(170).html_safe
        - if @artist.bio.length > 170
          %a.more{:href => bio_artist_path(@artist.artist)} [Read More]
    .clear
    - if @artist.art_pieces.count
      %ul#art_pieces.section
        - @artist.art_pieces.each do |artpiece|
          %li
            .ap-thumb{:style => "background-image:url(#{artpiece.get_path('small')});"}
    .clear
    - if @artist.has_links?
      .links.section
        - @artist.links.each do |key, name, lnk|
          %div{:id => key}
            %span #{name}
          = link_to lnk, add_http(lnk)
