<% if @artist -%>
<div>
  <% if @artist.artist_info && @artist.os_participation['201110'] %>
  <h2 class='os-star'><%=h @artist.get_name %>
    <div class="os-star"></div>
  </h2>
  See this artist in their studio during Open Studios Oct 1-2, 2011
  <% else -%>
  <h2><%=h @artist.get_name %></h2>
  <% end -%>
  <div class="address">
    <% if @artist.studio -%>
    <div class="studio">Studio: <%= link_to @artist.studio.name, @artist.studio  %></div>
    <div><%=h @artist.studio.street %> 
      <% if @artist.artist_info.studionumber -%><span>#<%=h @artist.artist_info.studionumber %></span><% end -%>
      <span class="lkmap">(<%= link_to 'map', @artist.studio.map_link %>)</span>
    </div>
    <% else -%>
    <div><% if  @artist.artist_info.full_address.length > 1 -%>
      <%=h @artist.artist_info.street %>
      <span class="lkmap">(<%= link_to 'map', @artist.artist_info.map_link %>)</span>
      <% end -%>
    </div>
    <% end -%>
  </div>

  <% if @artist.media and @artist.media.length > 0 -%>
  <div class="media section">
    <span>Media:</span>
    <span>
      <% links = []
         @artist.media.each do |m| 
            links << link_to(m.name, m, :class => "")
         end
      -%>
      <%= links.join(", ") %>
    </span>
  </div>
  <% end -%>
  <div class='clear'></div>

  <% if @artist.art_pieces.count %>
  <ul id="art_pieces" class="section">
    <% @artist.art_pieces.each do |artpiece| 
    -%>
    <li><div class="ap-thumb" style="background-image:url(<%= artpiece.get_path('small') %>); "></div></li>
    <% end -%>
  </ul>
  <% end -%>
  <div class='clear'></div>

  <% if has_links(@artist) -%>
  <div class="links section">
    <% keyed_links.each do |key, name, _id|  
         lnk = @artist.send(key)
         if lnk and !lnk.empty? %>
    <div id="<%= _id %>"><span><%= name %>: </span>
           <%= link_to lnk, add_http(lnk) %>
    </div>
    <%   end 
       end
    -%>
  </div>
  <% end -%>

</div>
<% end -%>
