<table class="tbl-content" cellpadding="0" cellspacing="0">
  <%= render :partial => "/twocol_top" %>
  <tr>    
    <td> </td>
    <td class="alt-lcol" align="center">
      <% if @artist -%>
      <div id="bigthumbcolumn">
	<%= render :partial => '/art_pieces/thumbs', :locals => { :pieces => @artist.representative_pieces(4), :params => { :size => 'small', :show_footer => false, :cols => 1, :art_link => true}} %>
      </div>
      <% end -%>
    </td>
    <td class="vstripe"><img class="page-height-spacer" src="/images/bg-5px.png"/></td>
    <td class="rcol room-for-logo" align="center">
      <% if flash[:error] -%>
      <div class="error-msg">Error:
	<%= flash[:error] %>
      </div>
      <% end -%>
      <div class="content-block"> 
	  <% if logged_in? and @artist.login == self.current_artist.login -%>
<!--	  <%= render :partial => '/deadline_announcement' %> 
	<div class="clear"></div>
-->
	  <% end %>
	<% if @artist -%>
	<div class="artist-profile-img">
	<% if logged_in? and @artist.login == self.current_artist.login -%>
	<a title="update profile picture" href="/artists/addprofile/<%= self.current_artist.id %>">
	  <% if @artist.has_profile_image -%>
  	  <img class="profile" src="<%= @artist.get_profile_image('small') %>?t=<%= Time.now.to_i() %>" />
	  <% else -%>
  	  <img class="profile" src="/images/default-profile-img.png" width="200" />
  	  <% end -%>
	</a>
	<% else -%>
	<%   if @artist.has_profile_image -%>
  	<img class="profile" src="<%= @artist.get_profile_image('small') %>" />
	<% else %>
  	<img class="profile" src="/images/default-profile-img-not-me.png" width="200" />
  	<%   end -%>
	<% end -%>
	<% if @artist.os2010? -%>
	<div class="os-violator"><a href="/"><img src="/images/os_star_violator.png"/></div>
	<% end -%>
	</div>
 	<h4><%=h @artist.get_name %></h4>
	<div class="artist">
	  <div class="div-left">
	    <% if flash[:notice] -%>
	    <div class="notice">
	      <%= flash[:notice] %>
	    </div>
	    <% end -%>
	  </div>
	  <div class="div-left">
	    Spring Open Studios 2010 Participant? <%= @artist.os2010? ? "<span style='color:#fc0; font-weight:bold;'>Yes</span>":"No" %>
	    <% if @artist == current_artist -%>
	    <div id="os2010_help" class="help-parent">
	      <%= render :partial => '/whatsthis/popup', :locals => { :section => 'os2010_switch', :link_text => "how do i change this?", :parent => 'tag_help', :use_icon => true, :title => "How to Set your Open Studios status" } %>
	    </div>
	    <% end -%>
	  </div>
	  <div class="div-left">
	    <table>
	      <tr><td>Studio:</td>
		<td>
		  <% if @artist.studio -%>
		  <div><%= link_to @artist.studio.name, @artist.studio %></div>
   		  <div><%=h @artist.studio.street %></div>
   		  <div><%=h @artist.studio.city %></div>
		  <% else -%>
		  <div><%=h @artist.street %></div>
		  <div><%=h @artist.city %></div>
		  <% end -%>
		</td>
	      </tr>
	    </table>
	  </div>
	  <% if (!current_artist || current_artist.id != @artist.id) && (@artist.emailsettings['fromall'] || (@artist.emailsettings['fromartist'] && logged_in?)) -%>
	  <div class="div-left share">Send the artist a note:
	    <a href="#" id="notify_artist" aid="<%= @artist.id %>" ><div  aid="<%= @artist.id %>" id="micro_icon" class="email"></div></a>
	  </div>
	  <% end -%>

	  <% if @artist.media and @artist.media.length > 0 -%>
	  <div class="div-left">
	    <table>
	      <tr>
		<td>Media:</td>
		<td>
		  <% links = []
		     @artist.media.each do |m| 
  		     links << link_to(m.name, m, :class => ""  )
			      end
			      -%>
		     <%= links.join(", ") %>
		</td>
	      </tr>
	    </table>
	  </div>
	  <% end -%>
          <% if @artist.tags and @artist.tags.length > 0 -%>
	  <% end -%>
	  <% if has_links(@artist) -%>
	  <div class="div-left">
	    <% keyed_links.each do |key, name|  
  	       lnk = @artist[key]
	       if lnk and !lnk.empty? %>
    	    <div><span><%= name %>: </span>
	      <%= link_to lnk, add_http(lnk), { :target => "_blank" } %>
  	  </div>
   	  <% end -%>
 	  <% end -%>
 	  </div>
	  <% end -%>
	  <div class="div-left share">Share this page:
	    <a target="_new" href="<%= @fb_share %>" title="Share this page on Facebook"><div id="micro_icon" class="facebook"></div></a>&nbsp;
	    <a target="_new" href="<%= @tw_share %>" title="Share this page on Twitter"><div id="micro_icon" class="twitter"></div></a>
	  </div>
	  </div>
	  <% if @artist.bio and !@artist.bio.empty? %>
	  <div class="clear"></div>
	  <div class="div-left bio-container"><span>Bio:</span>
	    <%= bio_html(@artist.bio) %>
	  </div>
	  <% end -%>
	</div>
	<div class="clear" ></div>
	<% if logged_in? and @artist.login == self.current_artist.login and !self.current_artist.suspended? %>
	<div class="artist-buttons div-left">
	    <form method="get" action="<%= edit_artist_path(@artist) %>">
	      <input class="formbutton" type="submit" value="Edit Profile" name="submit"/> 
	    </form>
	    <form method="get" action="/art_pieces/new">
	      <input class="formbutton" type="submit" value="Add Art" />
	    </form>
	    <% if @artist.art_pieces.length > 0 -%>
	    <% if @artist.art_pieces.length > 1 -%>
	    <form method="get" action="<%= arrangeart_artist_path(@artist) %>">
	      <input class="formbutton" type="submit" value="Arrange Art" />
	    </form>
	    <% end -%>
	    <form method="get" action="<%= deleteart_artist_path(@artist) %>">
	      <input class="formbutton" type="submit" value="Delete Art" />
	    </form>
	    <% end -%>
	</div>
	<% end %>

	  <div class="artist-pieces">
	    <% if @artist.art_pieces %>
	    <%= render :partial => '/art_pieces/thumbs', :locals => { :pieces => @art_pieces, :params => { :cols => 5, :show_footer => false, :art_link => true }} %>
	    <% else %>
	    <img src="/images/default-art-img.png" width="200" />
	    <% end %>
	  </div>
	</div>
	<% end # end if artist %>
      </div>
    </td>
    <td></td>
  </tr>
  <%= render :partial => "/twocol_bottom" %>
  </table>
