<% if @artist -%>
<div class="info">
  <h4><%=h @artist.get_name %></h4>
  <div>
    <% if @artist.studio -%>
    <div class="studio"><%= link_to @artist.studio.name, @artist.studio %></div>
    <div><%=h @artist.studio.street %> 
      <% if @artist.artist_info.studionumber -%><span>#<%=h @artist.artist_info.studionumber %></span><% end -%>
    </div>
    <div><%=h @artist.studio.city %></div>
    <% else -%>
    <div><%=h @artist.artist_info.street %></div>
    <div><%=h @artist.artist_info.city %></div>
    <% end -%>
  </div>
  <% if @artist.media and @artist.media.length > 0 -%>
  <div class="div-left">
    <span>Media:</span>
    <span>
      <% links = []
	 @artist.media.each do |m| 
  	 links << link_to(m.name, m, :class => ""  )
		  end
		  -%>
	 <%= links.join(", ") %>
    </span>
  </div>
  <% end -%>
  <% if has_links(@artist) -%>
  <div class="div-left">
    <% keyed_links.each do |key, name, _id|  
       lnk = @artist.send(key)
       if lnk and !lnk.empty? %>
    <div id="<%= _id %>"><span><%= name %>: </span>
      <%= link_to lnk, add_http(lnk), { :target => "_blank" } %>
  </div>
  <% end -%>
  <% end -%>
</div>
<% end -%>
</div>
<% end -%>
