<div class="logo-spacer"></div>
<div id="favorites_page">
  <h4><%= current_user.get_name true %>'s Favorites</h4>
  <div class="favorites">
    <div class="little-txt td-right navlinks"><!-- nav --></div>
    <h5>Art Pieces (<%= current_user.fav_art_pieces.count %>)</h5>    
    <ul class="art_pieces">
      <% current_user.fav_art_pieces.each do |f| %>
      <li><%= draw_small_favorite(f, @style); %></li>
      <% end -%>
    </ul>
    <div class="clear"></div>
    <h5>Artists (<%= current_user.fav_artists.count %>)</h5>
    <ul class="artists">
      <% current_user.fav_artists.each do |f| %>
      <li><%= draw_small_favorite(f, @style); %></li>
      <% end -%>
    </ul>
    <div class="clear"></div>
  </div>
</div>
