.pure-g
  .pure-u-1-1.header.padded-content
    %h2.title #{@favorites.title}
.pure-g
  .pure-u-1-1.padded-content
    - if @favorites.empty?
      %p.no-favorites-msg
        = @favorites.empty_message.html_safe
      - if @favorites.is_current_user?
        = render 'random_picks', :random_picks => @favorites.random_picks
    - else
      - if @favorites.is_current_user?
        .pure-g
          .pure-u-1-1.cta
            %p Find more favorites by clicking the &quot;artists&quot; link and search by name, medium or tag.
      .pure-g
        .pure-u-1-1
          %h4
            = "Art Pieces (#{@user.fav_art_pieces.count})"
          = render partial: 'favorite_art', collection: @user.fav_art_pieces
        .pure-u-1-1
          %h4
            = "Artists (#{@user.fav_artists.count})"
          = render partial: 'favorite_artist', collection: @user.fav_artists
          
    .pure-g
      .pure-u-1-1
        = link_to "#{@user.get_name}'s Profile", user_path(@user), class: 'pure-button pure-button-primary'
