#search_results
  %h4 Search Results - #{@user_query}
  - if !@pieces || @pieces.length <= 0
    = render :partial => 'empty_search_results'
  - else
    .results-txt
      The following #{"artist" + (@pieces.length > 1 ? "s" : '')} matched your query
    .search-view-ctrls
      = render :partial => "/pagination"
    #thumbs_by_artist.search-results
      = render :partial => "thumbs", :locals => { :pieces => @pieces, :params => { :cols => 2, :art_link => true }}	
    .search-view-ctrls
      = render :partial => "/pagination"
