- pagination_opts = {paginator: @paginator}
#search_results
  %h4.title 
    Matches for 
    %span.query #{@query.query}
  - if @paginator.items.blank?
    = render 'empty_search_results'
  - else
    - if @per_page_opts
      .result-count
        %form{id: 'results_per_page'}
          %label Results Per Page
          = select_tag :per_page, options_for_select(@per_page_opts.map{|v| [v,v]}, @paginator.per_page)

    .results-txt
      We found #{@paginator.count} #{"piece" + (@paginator.count > 1 ? "s" : '')} that matched your query
    .search-view-ctrls
      = render "search_pagination", pagination_opts
    #thumbs_by_artist.search-results
      = render partial: '/artists/art', collection: @paginator.items, as: :art_piece

    .search-view-ctrls
      = render "search_pagination", pagination_opts
