<p>
  Hello, <%= @artist.get_name %>
</p>
<p>
  Thanks for registering for Open Studios <%= @current_os.for_display(reverse: true) %>.
  We're so excited you're participating!
</p>

<p>
  By registering, you are committing to:
</p>
<p>
  <ol>
    <li> Have your studio open on <%= @current_os.for_display(reverse: true) %> from <% @current_os.time_range_for_display %> (while complying with local, state & federal guidelines around COVID 19)</li>
    <li> Promote the event to your mailing list and social fans</li>
  </ol>
</p>
<p>
  Note: If you decide not to open, please remember to un-register so your fans and visitors are not inconvenienced. You can un-register at any time.
</p>

<p>
  NEW ON MISSIONARTISTS.ORG :
  The Open Studios Online Catalog!!! https://openstudios.missionartists.org/  where you can:
  <ul>
    <li><%= link_to "display art prices & if pieces are sold", @upload_url, target: "_blank" %></li>
    <li><%= link_to "display your phone number and/or email address", @artist_os_section_url, target: "_blank" %></li>
    <li><%= link_to "include a link to your shopping site", @artist_os_section_url, target: "_blank"  %></li>
    <li><%= link_to "include a youtube video", @artist_os_section_url, target: "_blank"  %></li>
  </ul>
</p>
<p>
  Have any questions? See https://bit.ly/mission-fall2021 or email us. We're here to help. Mission Artists is completely volunteer run and donation supported.
</p>

<p>
  The Mission Artists Team
</p>

<p style="font-size: small; border-top: 1px solid lightgray; margin-top: 5px; padding-top: 5px;">
  Mission Artists is entirely volunteer run and does not charge for participation.  If you'd like to help out, you can donate by <a href="<%= @donation_url %>" target="_blank">going to the site</a> and clicking on the "Donate" button.  We use this money to run the website and support promotion for Open Studios events.
</p>
<p style="font-size: small;">
    Connect:
    <%= link_to "[Facebook]", Conf.social_links['facebook'], target: "_blank" %>
    <%= link_to "[Twitter]", Conf.social_links['twitter'], target: "_blank" %>
    <%= link_to "[Instagram]", Conf.social_links['instagram'], target: "_blank" %>
</p>
