%h1 Add/Edit an Artist Feed
= form_for [:admin,@feed] do |f|
  = render 'common/form_errors', :form => f
  .section
    .form-group
      = f.label :url
      .field
        = f.text_field :url
        .help Should start with http:// 
    .form-group
      = f.label :feed
      .field
        = f.text_field :feed
        .help Should start with http://
    .form-group
      = f.label :active
      = f.check_box :active
    .form-controls
      = f.submit 'Submit', :class => "formbutton"
.samples
  %h4 Sample entries:
  %ul
    %li.odd
      .feed
        %code
          feed: http://flaxart.com/feed
      .url
        %code
          url: http://flaxart.com
    %li.even
      .feed
        %code
          feed: http://twitter.com/statuses/user_timeline/62131363.json
      .url
        %code
          url: http://twitter.com/sfmau
    %li.odd
      .feed
        %code
          feed: http://studiomorin.blogspot.com/feeds/posts/default?alt=rss
      .url
        %code
          url: http://studiomorin.blogspot.com/
