<div class="admin-table singlecolumn">
<h1>Listing fans</h1>
<table>
  <tr>
    <th>name</th>
    <th>info</th>
    <th># favorited</th>
  </tr>

  <% @fans.each_with_index do |a,idx| %>
  <tr class="<%= cycle('even','odd') %>">
    <td id="admin_artist_name" style="width:100px; ">
      <a href="<%= user_path(a) %>"><%= a.get_name %></a>
    </td>
    <td id="admin_artist_info">
      Username: <%= a.login %><br/>
      EM: <%= a.email %><br/>
      Web: <%= a.url %>
    </td>
    <td>
      <%= a.favorites.count %>
    </td>
  </tr>
  <% end %>
</table>
</div>
