.admin-table.singlecolumn
  %h1 MAU Fans
  %table.js-data-tables#fans_index.pure-table.pure-table-striped
    %thead
      %tr
        %th name
        %th username
        %th email
        %th website
        %th favorites
    %tbody
      - @fans.each do |fan|
        %tr
          %td
            = link_to fan.get_name, user_path(fan)
          %td #{fan.login}
          %td #{fan.email}
          %td #{fan.url}
          %td.favorites
            = fan.favorites.count
