.admin-table#dashboard
  %h1 Dashboard
  %h2 Counts:
  - [:total, :yesterday, :last_week, :last_30_days].each_with_index do |category, idx|
    - stats = @activity_stats[category]
    .section{:class => category}
      %h3 #{category.to_s.titleize}
      %ul
        - stats.sort{|a,b| a.to_s <=> b.to_s }.each do |k,v| 
          %li #{"%s : %s" % [k.to_s.titleize,v]}
  - category = :open_studios        
  - stats = @activity_stats[category]
  .section{:class => category}
    %h3 #{category.to_s.titleize}
    %ul
      - stats.sort{|a,b| b.to_s <=> a.to_s }.each do |k,v| 
        %li #{"%s : %s" % [k.to_s.titleize,v]}
    .current
      Downloads:
      %br
      %a{:href => '/catalog?format=csv'} #{ @os_pretty } CSV File
      %br
      %a{:href => '/catalog'} #{ @os_pretty } Catalog Index
        
  .clear
  %h2 Graphs:
  .graph.section
    %h3 Artists Per Day
    #artists_per_day.flot_graph
  .graph.section
    %h3 ArtPieces Per Day
    #art_pieces_per_day.flot_graph
  .graph.section
    %h3 Favorites Per Day
    #favorites_per_day.flot_graph

