#dashboard
  .pure-g
    .pure-u-1-1.header
      %h2.title Dashboard
  .pure-g.content
    .pure-u-1-1
      %h3 Counts
    - [:totals, :yesterday, :last_week, :last_30_days].each_with_index do |category, idx|
      - stats = @activity_stats.send category
      .pure-u-1-1.pure-u-md-1-3.pure-u-lg-1-4.pure-u-xl-1-5.dashboard__stats-list{:class => category}
        %h4 #{category.to_s.titleize}
        %table
          %tbody
            - stats.sort{|a,b| a.to_s <=> b.to_s }.each do |k,v|
              %tr
                %td #{k.to_s.titleize}
                %td.count #{v}
    - category = 'open_studios'
    .pure-u-1-1.pure-u-md-1-3.pure-u-lg-1-4.pure-u-xl-1-5.dashboard__stats-list{:class => category}
      %h4 #{category.to_s.titleize}
      %table
        %tbody
          - @activity_stats.open_studios.each do |k,v|
            %tr
              %td #{k.to_s.titleize}
              %td.count #{v}
      .current
        - if current_open_studios
          Downloads:
          %br
          %a{:href => '/catalog?format=csv'} #{ current_open_studios.for_display } CSV File
          %br
          %a{:href => '/catalog'} #{ current_open_studios.for_display } Catalog Index
    - if current_user.is_admin?
      .pure-u-1-1.header
        %h3.title Graphs
      .pure-u-1-1.pure-u-lg-1-2
        .graph
          %h4 Artists Per Day
          #artists_per_day.flot_graph
      .pure-u-1-1.pure-u-lg-1-2
        .graph
          %h4 ArtPieces Per Day
          #art_pieces_per_day.flot_graph
      .pure-u-1-1.pure-u-lg-1-2
        .graph
          %h4 Favorites Per Day
          #favorites_per_day.flot_graph
      .pure-u-1-1.pure-u-lg-1-2
        .graph
          %h4 OS Signups
          #os_signups.flot_graph

