.pure-g
  .pure-u-1-1.padded-content
    = "https://css-tricks.com/rotated-table-column-headers/"
    %table.os-status.pure-table.pure-table-striped#os_status_table.js-data-tables
      %thead
        %tr
          %th name
          - @keys.each do |key|
            %th #{OpenStudiosEvent.for_display(key)}
      %tbody          
        - @os.each_with_index do |a,idx|
          %tr
            %td#admin_artist_name
              %a{:href => user_path(a)} #{a.get_name}
            - @keys.each do |ostag|
              %td.tf
                - if a.os_participation[ostag]
                  .fa.fa-star 
      %tfoot
        %tr.totals
          %td Totals:
          - @keys.each do |key|
            %td.tf #{@totals[key]}

    %pre #{@totals.to_json}
