.pure-g
  .pure-u-1-1.padded-content.header
    %h2 Artists (#{@artist_list.count})
  = form_tag update_admin_artists_path do
    .pure-u-1-1.padded-content
      = render '/flash_notice_error'
      .admin-table__controls
        %button.pure-button.update-artists update os status
        %a.pure-button.export-csv{:href => "?format=csv&%s" % request.query_string}
          export as csv
    .pure-u-1-1.padded-content
      %table.admin-table.js-data-tables#artists_index.pure-table.pure-table-striped
        %thead
          %tr
            %th State
            %th Username
            %th Name
            %th Since
            %th Last seen
            %th Studio
            %th Art
            %th
              = OpenStudiosEventService.current.for_display(true)
            %th{ "data-orderable" => "false" }
            %th{ "data-orderable" => "false" }

        %tbody
          - @artist_list.each_with_index do |a, idx|
            :ruby
              classes = []
              classes << a.state
              classes << 'participating' if a.doing_open_studios?
            %tr{:class => classes.join(' ')}
              %td
                = a.state
              %td
                %a{:href => artist_path(a)}
                  = a.login
              %td
                %a{:href => artist_path(a)}
                  = a.full_name
              %td.date-field{ "data-order" => a.activated_at.to_i}
                = a.activation_date
              %td.date-field
                = a.last_login
              %td
                = a.studio.nil? ? "Indy/unk" : link_to(a.studio.name, a.studio)
              %td
                = (a.art_pieces || []).count
              %td
                .email
                  #{a.email}
                .address
                  Address: #{a.address}
                - if a.has_activation_code?
                  .activation_link
                    Activation Link (created_at #{a.created_at}):
                    %br
                    = a.activation_link
                - if a.has_reset_code?
                  .forgot_password_link
                    Reset Password Link:
                    %br
                    = a.reset_password_link

              %td.participating_status{ :artistid => a.id } #{a.doing_open_studios?}
              %td
                / this make sure that all os settings are sent to the controller
                - checked = a.doing_open_studios?
                - name = "os[#{a.id}]"
                = hidden_field_tag name, "0"
                = check_box_tag name, '1', checked, :class => 'cboslive', :artistid => a.id
                - unless a.has_address?
                  .no-address N/A
              %td
                = link_to suspend_admin_artist_path(a), method: :post, confirm: 'Are you sure you want to suspend this artist?', title: "Suspend artist" do
                  %i.fa.fa-icon.fa-bomb
