<div class="open-close-div acct" ><span id="notification_toggle" class="title">Notifications</span><span class="edit"><a href="#notifications" id="notification_toggle_lnk">change</a></span><div class="clear"></div></div>
<div  class="edit-profile-sxn"  id="notification" style="display:none;">
  <div class="inner-sxn">
    <table class="entry-table">
      <% if current_artist %>
      <tr>
	<td class="input-name">
	  Favorites:
	</td>
	<td valign="top" colspan="2">
	  <div><%= check_box "emailsettings", "favorites", { :checked => current_user.emailsettings["favorites"] } %>Notify me when someone favorites me or my art</div>
	</td>
      </tr>
      <% end -%>
      <tr>
	<td class="input-name">
	  Allow notes from:
	</td>
	<td valign="top">
	  <div><%= check_box "emailsettings", "fromall", { :checked => current_user.emailsettings["fromall"] } %>Everyone</div>
	  <div>
	    <%= check_box "emailsettings", "fromartist", { :checked => current_user.emailsettings["fromartist"] || current_user.emailsettings["fromall"] } %>Registered MAU Artists
	  </div>
	</td>
	<td class="input-err" width="200">
	  Check these boxes if would like other registered MAU artists or any website visitors the ability to send you a note.
	</td>
      </tr>
    </table>
    <div class="buttons">
      <%= f.submit 'Save Changes' %>
      <%= f.submit 'Cancel' %>
    </div>
  </div>
</div>
