<div class="open-close-div acct" ><span id="passwd_toggle" class="title">Password</span><span class="edit"><a href="#passwd" id="passwd_toggle_lnk">change</a></span></div>
<%= form_tag(change_password_update_path, :method => :put) do -%>
<div  class="edit-profile-sxn" id="passwd" style="display:none;">
  <div class="inner-sxn">
    <table class="entry-table">
      <tr>
	<td colspan="3" align="center">
	  <div class="chpasswd-instructions">
	    <ul>
	      <li>Do not use the same password that you use for other online accounts.</li>
	      <li>Your new password must be at least 6 characters in length.</li>
	      <li>Use a combination of letters, numbers, and punctuation.</li>
	      <li>Passwords are case-sensitive. Remember to check your CAPS lock key.</li>
	    </ul>
	  </div>
	</td>
      </tr>
      <tr>
        <td class="input-name" width="224">Old Password</td>
        <td class="input" width="179"><%= password_field_tag 'old_password', @old_password, :size => 45, :class => 'text' %></td>
        <td class="input-err" width="149">&nbsp;</td>
      </tr>
      <tr>
        <td class="input-name">New Password</td>
        <td class="input"><%= password_field_tag 'password', {}, :size => 45, :class => 'text' %></td>
        <td class="input-err input-help">between 6 and 40 characters </td>
      </tr>
      <tr>
        <td class="input-name">Confirm new password</td>
        <td class="input"><%= password_field_tag 'password_confirmation', {}, :size => 45, :class => 'text' %></td>
        <td class="input-err">&nbsp;</td>
      </tr>
      <tr>
        <td class="input-name">&nbsp;</td>
        <td class="input"><%= submit_tag 'Change password' %> 
	  <input class="formbutton" type="button" value="Cancel" onclick="MAU.goToArtist( <%= self.current_user.id %>);"/></td>
        <td class="input-err">&nbsp;</td>
      </tr>
    </table>
  </div>
</div>
<% end -%>
