<div class="open-close-div acct" >
  <span id="info_toggle"  class="title">Personal Info</span>
  <span class="edit"><a href="#info" id="info_toggle_lnk">change</a></span>
</div>
<div class="edit-profile-sxn" id="info" style="display:none;">
  <div class="inner-sxn">
    <table class="entry-table">
      <tr>
	<td class="input-name">
	  First Name
	</td>
	<td>
	  <%= f.text_field :firstname %>
	</td>
	<td class="input-err">
	</td>
      </tr>
      <tr>
	<td class="input-name">
	  Last Name
	</td>
	<td>
	  <%= f.text_field :lastname %>
	</td>
	<td class="input-err">
	</td>
      </tr>
      <tr>
	<td class="input-name">
	  Email
	</td>
	<td>
	  <%= f.text_field :email %>
	</td>
	<td class="input-err">
	</td>
      </tr>
    </table>
    <div class="buttons">
      <%= f.submit 'Save Changes' %>
      <%= f.submit 'Cancel' %>
    </div>
  </div>
</div>
