.open-close-div.acct
  %a#info_toggle.title{href: '#'}
    Personal Info
  %span.edit
    %a#info_toggle_lnk{href: "#info"} change
.edit-profile-sxn#info
  .inner-sxn
    %ul.entry-table
      %li.entry
        %label.input-name{for: :firstname} First Name
        = f.text_field :firstname
        .input-err
      %li.entry
        %label.input-name{for: :lastname} Last Name
        = f.text_field :lastname
        .input-err
      %li.entry
        %label.input-name{for: :nomdeplume} Display Name
        = f.text_field :nomdeplume
        .input-err
          (only if you want something different from your first name + last name)
      %li.entry
        %label.input-name{for: :email} Email
        = f.text_field :email
        .input-err
    .buttons
      = f.submit 'Save Changes', class: "formbutton"
      = f.submit 'Cancel', class: "formbutton"
