.open-close-div.acct
  %a#links_toggle.title{href: '#'} Links
  %span.edit
    %a#links_toggle_lnk{href: "#links"} change

.edit-profile-sxn#links
  .inner-sxn
    %table.entry-table
      - [[:url, 'Website']].each do |kk, name|
        %tr
          %td.input-name 
            = f.label kk, name
          %td
            = f.text_field kk, class: 'url-input', placeholder: 'e.g. http://www.mywebsite.com'
          %td.input-err  
      - if current_user.is_a? Artist
        / handle user attrs
        - Artist::KEYED_LINKS.select{|link| link[0] != :url}.each do |kk, name|
          %tr
            %td.input-name
              = label_tag "#{f.object_name}[artist_info[#{kk}]]", name 
            %td
              = text_field_tag "#{f.object_name}[artist_info[#{kk}]]", @artist_info[kk], class: 'url-input'
            %td.input-err
    .buttons
      = f.submit 'Save', class: "formbutton"
      = f.submit 'Cancel', class: "formbutton"
