<%
  href = ""
  src = ""
  title = ""
  if favorite.class.name == 'ArtPiece'
    href = art_piece_path favorite
    title = favorite.title
    src = favorite.get_path 'thumb'
  elsif favorite[:type] == 'Artist'
    href = user_path favorite
    title = favorite.get_name true
    src = favorite.get_profile_image 'thumb'
  end
  wd, ht = favorite.get_min_scaled_dimensions 24
%>
<a href="<%= href %>"><div class="thumb <%= xclass %>" ><img src="<%= src %>" title="<%= title %>" height="<%= ht %>" width="<%= wd %>"/><div class="delete-fav xdelete-icon" fav_id="<%= favorite.id %>" fav_type="<%= favorite.class.name %>" style="display:none;" ></div></div></a>
