<% 
   style = xstyle.nil? ? "" : "style='#{xstyle}'"
   
  if favorite.class.name == 'ArtPiece' 
    href = art_piece_path favorite;
    title = favorite.title
    src = favorite.get_path 'thumb'
  elsif ['Artist', 'MAUFan', 'User'].include? favorite.class.name
    href = user_path favorite
    title = favorite.get_name true
    src = favorite.get_profile_image 'thumb'
  end   
  wd, ht = favorite.get_min_scaled_dimensions 24
%>
<li <%= style %>><a href="<%= href %>"><div class="thumb <%= xclass %>" ><img src="<%= src %>" title="<%= title %>" height="<%= ht %>" width="<%= wd %>"/></div></a></li>
