#sidebar_nav
  - if current_artist
    %ul
      :ruby
        listitems = [ "<a href='" + edit_artist_path(current_artist) + "'>edit my page</a>",
                      "<a href='/art_pieces/new'>add art</a>",
                      "<a href='#{arrangeart_artists_path}'>arrange art</a>",
                      "<a href='#{deleteart_artists_path}'>delete art</a>",
                      "<a href='#{ new_events_path }' class='list_your_show'>plug your art show</a>",
                      "<a href='#{favorites_user_path current_user}'><div class='micro-icon heart'></div> favorites</a>" ]
      = HTMLHelper::print_list('leaf', listitems)

  - else
    %ul
      %li.leaf.first
        %a{:href => edit_user_path(current_user)}edit my page
      %li.leaf.last
        %a{:href => favorites_user_path(current_user)}
          .micro-icon.heart 
          favorites          
