<% form_for user, :url => users_path do |f| %>
<input type="hidden" name="type" value="<%= type %>" />
<table class="signup-table" >
  <tr>
    <td class="label"><%= label_tag 'login', 'Username' %></td>
    <td class="input">
      <%= f.text_field :login %>	  </td>
    <td class="errors">
      <% if user.errors[:login] %>
      <div class="error-help">
	<%= user.errors.select{ |k,v| k=='login' }[0][1] %>	    </div>
      <% end %>	  
    </td>
  </tr>
  <tr>
    <td class="label" >
      <%= label_tag 'email', 'E-mail' %>	  </td>
    <td class="input">
      <%= f.text_field :email %>	  </td>
    <td>
      <% if user.errors[:email] %>
      <div class="error-help">
	<%= user.errors.select{ |k,v| k=='email' }[0][1] %>	    </div>
      <% end %>	  </td>
  </tr>
  <tr>
    <td >
      <%= label_tag 'password', 'Password' %>	  </td>
    <td >
      <%= f.password_field :password %>	  </td>
    <td>
      <% if user.errors[:password] %>
      <div class="error-help">
	<%= user.errors.select{ |k,v| k=='password' }[0][1] %>	    </div>
      <% end %>	  </td>
  </tr>
  <tr>
    <td >
      <%= label_tag 'password_confirmation', 'Confirm Password' %>	  </td>
    <td > 
      <%= f.password_field :password_confirmation %>	  </td>
    <td>
      <% if user.errors[:password_confirmation] %>
      <div class="error-help">
	<%= user.errors.select{ |k,v| k=='password_confirmation' }[0][1] %>	    </div>
      <% end %>	  </td>
  </tr>
  <tr>
    <td >
      <%= label_tag 'firstname', 'First Name' %>	  </td>
    <td > 
      <%= f.text_field :firstname %>	  </td>
    <td>
      <% if user.errors[:firstname] %>
      <div class="error-help">
	<%= user.errors.select{ |k,v| k=='firstname' }[0][1] %>	    </div>
      <% end %>	  </td>
  </tr>
  <tr>
    <td >
      <%= label_tag 'lastname', 'Last Name' %>	  </td>
    <td >
      <%= f.text_field :lastname %>	  </td>
    <td>
      <% if user.errors[:lastname] %>
      <div class="error-help">
	<%= user.errors.select{ |k,v| k=='lastname' }[0][1] %>	    </div>
      <% end %>	  </td>
  </tr>
  <% if type == 'Artist' %>
  <tr>
    <td >
      <%= label_tag 'studio', 'Group Studio' %>	  </td>
    <td >
      <%= select("artist","studio_id", [['None', 0]] + @studios.map{|u| [u.name,u.id]}) %>	  </td>
    <td class="little-txt"></td>
  </tr>
  <tr>
    <td colspan="3">
      <div class="little-txt">
Choose "Independent studio" if you are not in a group studio. if you don't see your group studio, select "none" and 
	<a href="javascript:MAU.mailer('www','missionartistsunited.org','Please Add New Group Studio');">tell us</a> to add your studio.
      </div>
    </td>
  </tr>
  <% end %>
  <tr>
    <td >&nbsp;</td>
    <td ><span class="td-center"><%= submit_tag 'Sign up' %>
	<% end -%>
    </span></td>
    <td >&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3">
    </td>
  </tr>
  <tr>
    <td></td>
    <td colspan="2" >Already a member? <%= link_to "Log in",  login_path,  { :title => "Log in" } %> here.</td>
  </tr>
  <tr>
    <td colspan="3" align="center"><br/></td>
  </tr>
  <tr>
    <td colspan="3" align="right">&nbsp;</td>
  </tr>
</table>
