.singlecolumn
  %h4
    Add/Update Profile Picture for
    =h current_user.get_name
  #profile_update
    = render :partial => '/flash_notice_error'
    .content-block
      .artist-profile__image
        - if current_user.has_profile_image
          %img{:src => current_user.get_profile_image('small')}
        - else
          %i.fa.fa-user  
      %div Your profile image should be a JPEG, GIF or PNG file and must not be more than 1MB.
    %div
      = form_tag({:action => 'upload_profile'}, :multipart => true) do
        %table.signup-table
          %tr
            %td.td-right
              %label{:for => :uplaod_file} Select File:
            %td.td-left
              = file_field :upload, :datafile
            %td
              = hidden_field_tag :user_id, current_user.id
          %tr
            %td.td-right &nbsp;
            %td{:colspan => 2}
              = submit_tag "Upload", :onclick => "MAU.waitcursor(); return true;", :class => 'formbutton'
              = submit_tag "Cancel", :class => 'formbutton'
