<div id="artist_edit">
  <div id="profile_img" style="float:right;">
    <a title="update profile picture" href="<%= addprofile_users_path %>">
      <% if current_user.has_profile_image -%>
      <img src="<%= current_user.get_profile_image('thumb') %>" />
      <% else -%>
      <img src="/images/default-profile-img.png" width="100" />
      <% end -%>
      <div class="little-txt">update profile picture</div>
    </a>
  </div>
  <h4>My Account</h4>
  <% if flash and flash[:notice] and !flash[:notice].empty? -%>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
  <% end -%>
  <% if flash and flash[:error] and !flash[:error].empty? -%>
  <div class="error-msg">
    <%= flash[:error] %>
  </div>
  <% end -%>
  <div class="edit-sections">
    <% form_for :user, current_user, 
       :url => { :action => "update" }, 
       :html => { :method => :put } do |f| -%>
    <%= f.error_messages %>

    <%= render :partial => "/users/edit_basic_info", :locals => {:f => f} %>

    <%= render :partial => "/users/edit_notifications", :locals => {:f => f}%>

    <%= render :partial => "/users/edit_links", :locals => {:f => f} %>

    <% end -%><%# end form %>

    <%= render :partial => "/users/edit_password" %>

    <%= render :partial => "/users/edit_deactivate" %>
  </div>
  <div class="back-to-profile-btn">
    <a href="<%= user_url(current_user) %>"><button class="formbutton" >Back to Profile</button></a>
  </div>
</div>
