.pure-g
  .pure-u-1-1.header.padded-content
    %h2.title My Profile

.pure-g
  .pure-u-1-1.pure-u-lg-4-5.padded-content
    = render '/paypal_donation_form'

    = semantic_form_for @user.model, html: { class: 'js-edit-artist-form', multipart: true } do |form|
      #user-accordion.panel-group
        .panel.panel-default
          = render '/users/edit/basic_info', form: form
        .panel.panel-default
          = render '/users/edit/profile_picture', form: form
        .panel.panel-default
          = render '/users/edit/links', form: form
        .panel.panel-default
          = render '/users/edit/password', form: form
        .panel.panel-default
          = render '/users/edit/deactivate', form: form

