.pure-g
  .pure-u-1-1.header.padded-content
    %h2.title My Profile

.pure-g
  .pure-u-1-1.pure-u-lg-4-5.padded-content
    = render '/paypal_donation_form'

    = semantic_form_for current_user, html: { class: 'js-edit-artist-form', multipart: true } do |form|
      #user-accordion.panel-group
        .panel.panel-default
          = render '/users/edit/basic_info', form: form
        .panel.panel-default
          = render '/users/edit/profile_picture', form: form
        .panel.panel-default
          = render '/users/edit/links', form: form
        .panel.panel-default
          = render '/users/edit/password', form: form
        .panel.panel-default
          = render '/users/edit/deactivate', form: form

    .tag update profile picture
    .os-violator{style: (current_artist.doing_open_studios? ? '':'display:none;')}
      %img{:src=> "/images/os_star_violator.png"}


  .pure-u-1-1
    - if !current_user.art_pieces.any?
      = link_to "Upload some of your art to share with the world!", new_artist_art_piece_path(current_user)
