<div class="logo-spacer"></div>
<div id="favorites_page">
  <% if flash[:error] -%>
  <div class="error-msg">Error:
    <%= flash[:error] %>
  </div>
  <% end -%>
  <% if flash[:notice] -%>
  <div class="notice">
    <%= flash[:notice] %>      
  </div>
  <% end -%>
  <% if current_user && current_user == @user -%>
  <h4>My Favorites</h4>
  <% else -%>
  <h4><%= @user.get_name true %>'s Favorites</h4>
  <% end -%>
  <div class="favorites">
    <% if @random_picks %>
       <p class="no-favorites-msg">It looks like you don't have any favorites yet.  Go find an artist or some artwork that you like.  You'll see this <span class="micro-icon heart"></span>.  Start your search below or use the &quot;artist&quot; link above.  
       </p>
       <div class="random-picks">
         <a href="<%= artists_path %>">
           <div class="by-name random-sxn">
           <h5>Find Artists by Name</h5>
           <ul >
             <% @random_picks.each do |item| -%>
             <%= draw_micro_favorite item, :linkless => true %>
             <% end -%>
           </ul>
         </div>
           </a>
         <a href="<%= media_path :m => 'a'%>">
         <div class="by-medium random-sxn">
           <h5>Find Artists by Medium</h5>
           <ul>
             <% @random_picks.each do |item| -%>
             <%= draw_micro_favorite item, :linkless => true %>
             <% end -%>
           </ul>
         </div>
         </a>
         <a href="<%= art_piece_tags_path :m => 'a'%>">
         <div class="by-tag random-sxn">
           <h5>Find Artists by Tag</h5>
           <ul >
             <% @random_picks.each do |item| -%>
             <%= draw_micro_favorite item, :linkless => true %>
             <% end -%>
           </ul>
         </div>
         </a>
       </div>
    <% else -%>
    <h5>Art Pieces (<%= @user.fav_art_pieces.count %>)</h5>    
    <p>Find more favorites by clicking the &quot;artists&quot; link and search by name, medium or tag.</p>
    <ul class="art_pieces">
      <% @user.fav_art_pieces.each do |f| %>
      <%= draw_small_favorite(f, {:is_owner => (current_user == @user)}); %>
      <% end -%>
    </ul>
    <div class="clear"></div>
    <h5>Artists (<%= @user.fav_artists.count %>)</h5>
    <ul class="artists">
      <% @user.fav_artists.each do |f| %>
      <%= draw_small_favorite(f, {:is_owner => (current_user == @user)}); %>
      <% end -%>
    </ul>
    <% end -%>
    <div class="clear"></div>
  </div>
  <% if !@random_picks %>
  <div class="buttons">
    <form method="get" action="<%= user_path(@user) %>"><input class="formbutton" type="submit" value="Back to <%= @user.get_name true %>'s Page" name="submit">
    </form>
  </div>
  <% end -%>
</div>
