<div class="forgot">
<%= error_messages_for :user %>
<div class="logo-spacer"></div>
<h4>Request for Password Reset</h4>
<%= form_for :user do |f| -%>
<table id="reset_pass" class="signup-table">
  <tr>
    <td colspan="2" >
      <div>Type in your MAU account email below. We'll email instructions on how to reset your password.</div>
  </tr>
  <tr>
    <td align="right"><label>Email:</label></td>
    <td><%= f.text_field :email %></td>
  </tr>       
  <tr>
    <td></td>
    <td><%= submit_tag 'Submit' %></td>
  </tr>
  <tr>
    <td></td>
    <td class="input-help"><a href="<%= resend_activation_users_path %>">Do you need to activate your account?</a></td>
  </tr>
</table>
<% end -%>
</div>
