.logo-spacer
#signup_page
  :ruby
    @artist.password = @artist.password_confirmation = nil 
    @fan.password = @fan.password_confirmation = nil 
    sel_opts = [{ :key => :none,
                 :display => '&lt;select your account type&gt;',
                 :selected => '',
                 :id => 'select_account_default_option'
                 },
                 { :key => :Artist,
                 :display => "Mission Artist",
                 :selected => (@type == 'Artist') ? "selected=selected" : "" 
                 },
                 { :key => :MAUFan,
                 :display => "Mission Art Fan",
                 :selected => (@type == 'MAUFan') ? "selected=selected" : "" 
                 } ]
    opts = sel_opts.map{ |opt| "<option value='#{opt[:key]}' id='#{opt[:id]}' #{opt[:selected]}>#{opt[:display]}</option>" }.join('')
    astyle = 'display:none;'
    fstyle = 'display:none;'
    case @type
    when 'Artist'
      astyle = "display:block;"
    when 'MAUFan'
      fstyle = "display:block;"
    end
  %script var intype = '#{ @type }';
  %h2 Create Your MAU Account
  = render :partial => '/flash_notice_error'
  %table.signup-table
    %tr.acct-selector
      %td.label
        %label{:for => 'acct-selector'} I am a
      %td.input{:colspan => 2}
        = select_tag 'account_type_chooser', opts
  #artist_signup_form{:style => astyle}
    = render :partial => 'signup_form', :locals => { :type => 'Artist', :user => @artist }
  #fan_signup_form{:style => fstyle}
    = render :partial => 'signup_form', :locals => { :type => 'MAUFan', :user => @fan }
