.logo-spacer
#signup_page
  :ruby
    @user.password = @user.password_confirmation = nil 
    sel_opts = [{ :key => :none,
                 :display => '&lt;select your account type&gt;',
                 :selected => '',
                 :id => 'select_account_default_option'
                 },
                 { :key => :Artist,
                 :display => "Mission Artist",
                 :selected => (@type == 'Artist') ? "selected=selected" : "" 
                 },
                 { :key => :MAUFan,
                 :display => "Mission Art Fan",
                 :selected => (@type == 'MAUFan') ? "selected=selected" : "" 
                 } ]
    opts = sel_opts.map{ |opt| "<option value='#{opt[:key]}' id='#{opt[:id]}' #{opt[:selected]}>#{opt[:display]}</option>" }.join('')
  %h2 Create Your MAU Account
  = render :partial => '/flash_notice_error'
  %table.signup-table
    %tr.acct-selector
      %td.label
        %label{:for => 'acct-selector'} I am a
      %td.input{:colspan => 2}
        = select_tag 'account_type_chooser', opts
  #signup_form
    = render :partial => 'signup_form', :locals => { :type => @type, :user => @user }
