.noteform
  - if !@errmsg
    .popup-title
      Send #{@artist.get_name} a note

    .popup-text
      = form_tag '/users/' + @artist.id.to_s + '/notify', :id => 'note_form', :method => :put do
        .fdbk-form
          - unless @error_message.blank?
            .error-msg #{@error_message}
          .note-form-container
            #name_input.fdbk-input
              Your Name
              = text_field_tag 'name', logged_in? ? current_user.get_name: ''
            #email_input.fdbk-input
              - if !logged_in?
                Your Email
                = text_field_tag 'email'
            #comment_input.fdbk-input
              = text_area_tag 'comment', '', :placeholder => "<enter your note here>", :cols => 70, :rows => 10
            #validate_me.fdbk-input
              %label Please do not check this checkbox.  It is to prevent spammers from sending email through this form.
              = check_box_tag 'i_love_honey', 'yummy'
            #send_input
              = submit_tag 'Send', :class => 'formbutton'
              %button.formbutton#note_close_btn Cancel
        = hidden_field_tag 'page', request.referer
        - if current_user
          = hidden_field_tag 'login', current_user.login
          = hidden_field_tag 'email', current_user.email
  - else
    .note-err #{@errmsg}
