<div>
<% if !@errmsg -%>
<div class="popup-help-title">
Send <%=h @artist.get_name %> a note
</div>
<div class="popup-help-text">
  <% form_tag '/users/' + @artist.id.to_s + '/notify', :id => 'note_form', :method => :put do -%>
  <div class="fdbk-form">
    <% unless @error_message.blank? -%>
    <div class="error-msg">
	<%=h @error_message %>
    </div>
    <% end -%>
    <div class="note-form-container">
      <div id="name_input" class="fdbk-input">	
	  Your Name
	  <% if !logged_in? -%>
	  <%= text_field_tag 'name' %>
	  <% else -%>
	  <%= text_field_tag 'name', current_user.get_name %>
	  <% end -%>
	</div>
	<div id="email_input" class="fdbk-input">
	  <% if !logged_in? -%>
	  Your Email
	  <%= text_field_tag 'email' %>
	  <% end -%>
	</div>
	<div id="comment_input" class="fdbk-input">
	  <%= text_area_tag 'comment', "<enter your note here>", :cols => 70, :rows => 10 %>
	</div>
	<div id="send_input">
	  <%= submit_tag 'Send' %>
	  <button class='formbutton' id="note_close_btn" onclick="return false;">Cancel</button>
	</div>
      <%= hidden_field_tag 'page', request.referer %>
      <% if current_user -%>
      <%= hidden_field_tag 'login', current_user.login %>
      <%= hidden_field_tag 'email', current_user.email %>
      <% end -%>
   </div>
  <% end -%>
</div>

<% else -%>
<%= @errmsg %>
<% end -%>
</div>
