<table class="tbl-content" cellpadding="0" cellspacing="0">
  <tr>
    <td class="lcol"  colspan='2'>
      <% if current_user && @fan == current_user -%>
      <%= render :partial => "/users/sidebar_nav" %>
      <% end -%>
    </td>
    <td class="vstripe"></td>
    <td class="rcol" colspan='2'>
      <%= render :partial => '/flash_notice_error' -%>
      <div class="content-block" >
	      <% if @fan -%>
	      <div class="artist-profile">
	        <div class="info">
	          <div id="artist_profile_name">
              <% if @fan %>
 	            <h4><%= @fan.get_name %></h4>
	            <% if @fan.url -%>
	            <div class="div-left">
    		        <div id="u_website"><span>Website: </span>
		              <%= link_to @fan.url, add_http(@fan.url), { :target => "_blank" } %>
  		          </div>
              </div>
              <% end -%>
 	            <div class="artist">
		            <% if (!current_user || current_user.id != @fan.id) && (@fan.emailsettings['fromartist'] && logged_in?) -%>
		            <div class="div-left share">Send the fan a note:&nbsp;
		              <a href="#" class='notify-artist' aid="<%= @fan.id %>" ><span  aid="<%= @fan.id %>"  class="micro-icon email"></span></a>
		            </div>
		            <% end -%>
		            <%= render :partial => "/users/show_who_i_favorite", :locals => { :page_owner => @fan } %>
		            <%= render :partial => "/users/show_who_favorites_me", :locals => { :page_owner => @fan } %>
              </div>
              <div class="clear"></div>
            </div>
            <% end -%>
            = render '/artist_profile_image', :artist => @fan
	        </div>
	      </div>
	      <% end -%>
      </div>
    </td>
  </tr>
</table>
