.admin-table
  %h1 listing tags

  .controls
    %a{href: cleanup_admin_art_piece_tags_path} delete unused tags
  %table.js-data-tables#tags_index
    %thead
      %tr
        %th ID
        %th Name
        %th Count
        %th
    %tbody
      - @tags.each_with_index do |(tag, ct), idx|
        - clz = ' error-msg' if ct <= 0
        %tr{class: clz.to_s}
          %td #{tag.id}
          %td #{tag.name}
          %td.input-name.ct #{ct}
          %td.admin-controls
            .show.btn
              = link_to tag, title: 'show' do
                = fa_icon 'eye-open'
            .remove.btn
              = link_to tag, confirm: 'Are you sure?', method: :delete, title: 'Remove' do
                = fa_icon 'remove'
