.admin-table.singlecolumn
  %h1 listing tags

  .controls
    %a{href: cleanup_admin_art_piece_tags_path} delete unused tags
  %table
    %thead
      %tr
        %th ID
        %th Name
        %th Count
        %th
        %th
        %th
      - @tags.each_with_index do |(tag, ct), idx|
        - clz = cycle('even','odd')
        - clz << ' error-msg' if ct <= 0
        %tr{class: clz}
          %td #{tag.id}
          %td #{tag.name}
          %td.input-name.ct #{ct}
          %td.admin-controls
            .show
              = link_to tag, title: 'show' do
                = fa_icon 'eye-open'
          %td.admin-controls
            .remove
              = link_to tag, confirm: 'Are you sure?', method: :delete, title: 'Remove' do
                = fa_icon 'remove'
