.event
  .name #{event.title}
  .venue
    .name #{event.venue}
    .address 
      %a{:href => event.map_link} #{event.full_address}
  .desc #{markdown(event.description)}
  .url #{event.url}
  - if current_user && current_user.is_admin?
    .ctrls
      - if event.publish
        = link_to 'unpublish', unpublish_event_path(event)
      - else
        = link_to 'publish', publish_event_path(event)
      = link_to 'edit', edit_event_path(event)
      = link_to 'delete', event, :confirm => 'Are you sure?', :method => :delete 
