%a{:name => event.id}
.event{:class => (event.starttime < Time.now() ? 'past' : 'future')}
  .title 
    #{event.title}
    .time #{EventsHelper::event_time(event)}
  
  .venue
    .name #{event.venue}
    .address 
      - address_hash = event.address_hash[:parsed]
      - txt = [address_hash[:street], address_hash[:city]]
      - txt << address_hash[:state] if address_hash[:state].downcase != 'ca'
      - txt << address_hash[:zip] if address_hash[:zip] != '94110'
      - txt.each do |item|
        %span.nobr #{item}
      .maplink 
        %a{:target => '_blank', :href => event.map_link} (map)
  .clear        
  .desc.markdown #{markdown(event.description)}
  .url
    - if event.url.present?
      Event Website:
      - url = event.url
      - unless /http[s?]:\/\// =~ event.url
        - url = 'http://' + event.url
      %a{:href => url} #{event.url}
