=javascript_include_tag 'mau_admin'
.events
  %h1 Events
  .links
    = link_to '[Add Event]', new_event_path(@event)
  .filters
    Filter:
    - [:future, :past, :in_progress].each do |filter|
      %div{:class => 'event_filter ' + filter.to_s}
        %label{:for => "event_filter_#{filter.to_s}"} #{filter.to_s.titleize}
        %input{:id => "event_filter_#{filter.to_s}", :class => 'time', :type => :checkbox,:value => filter.to_s} 
    - [:published, :unpublished].each do |filter|
      %div{:class => 'event_filter ' + filter.to_s}
        %label{:for => "event_filter_#{filter.to_s}"} #{filter.to_s.titleize}
        %input{:id => "event_filter_#{filter.to_s}", :class => 'state', :type => :checkbox,:value => filter.to_s} 
    %a.show_all [all]
  - @events.each do |ev|
    = render :partial => 'event_admin', :locals => {:event => ev}
  .links
    = link_to '[Add Event]', new_event_path(@event) 
