.events
  %h1 Events
  .links
    = link_to '[Add Event]', new_event_path(@event) 
    = link_to '[Event Index]', events_path

  - @events.each do |ev|
    = render :partial => 'event', :locals => {:event => ev}
  .links
    = link_to '[Add Event]', new_event_path(@event) 
    = link_to '[Event Index]', events_path
