%script document.observe('dom:loaded', function() {new CalendarUI('starttimeCal', 'starttimeInputs');});
%script document.observe('dom:loaded', function() {new CalendarUI('endtimeCal', 'endtimeInputs');});

#event_edit
  %h2 Plug Your Art Show!
  - form_for(@event) do |f|
    = render :partial => '/error_msgs_for_haml', :locals => {:obj => @event}
    .clear
    .section
      .entry
        = f.label :title
        = f.text_field :title
      .entry
        = f.label :description
        = f.text_area :description
      .entry    
        = f.label :tweet
        = f.text_field :tweet
    .section
      - [:venue, :street, :city, :state, :zip].each do |txtfld|
        .entry
          = f.label txtfld
          = f.text_field txtfld
    .section   
      - [:starttime, :endtime].each do |dt|
        = f.label dt
        %div{:id => dt.to_s+"Cal"}
        .entry{:id => dt.to_s+"Inputs"}
          = f.datetime_select dt
      - [:url].each do |txtfld|
        .entry
          = f.label txtfld
          = f.text_field txtfld
      .entry 
        = f.label :publish
        = f.check_box :publish
    .clear
      = f.submit 'Update'
    .links
      = link_to 'Show', @event 
      = "|"
      = link_to 'Back', events_path
    .clear
