%table.tbl-content
  %tr
    %td.lcol{:colspan => 2}
      %nav.event_nav
        %ul
          - @events.by_month.sort.reverse.each do |key, events|
            - clz = 'current' if (@current && @current == key) || (key == Time.zone.now.strftime('%Y%m'))

            %li.by_month{:class => clz, "data-viskey" => key}
              %a{:href => '#'} #{events[:display]}

    %td.vstripe
    %td.rcol{:colspan => 2}
      .events.logo-space
        = render :partial => '/flash_notice_error'
        .event_list
          - @events.by_month.sort.each do |key, events|
            - clz = 'current' if (@events.current && @events.current == key) || (key == Time.zone.now.strftime('%Y%m'))
            .events_by_month{:class => [clz, key].join(' ')}
              %h3
                Mission Artists' Events for
                %span.month #{events[:display]}
              .calendar_link
                %a{:href => calendar_path} View Events Calendar &raquo;


              - if events[:events].empty?
                .no_events
                  Sadly, we don't have any events for #{events[:display]}.
                  %p
                  - if current_user
                    %span Next time you are in an art show, make sure to send us the details (under my mau -> plug your art show) and we'll put it up here!
                  - else
                    %span You can use the navigation on the left to see events for other months.
              - else
                = render 'events_by_month', {:month => events[:display], :events => events[:events], :xtra_class => clz}

