<script>
  Event.observe(window, 'load', function() {
    new CalendarDateSelect('starttime_widget', {popup_by:'starttime'});
    new CalendarDateSelect('endtime_widget', {popup_by:'endtime'});
  });
</script>
<div class='events'>
<h1>New event</h1>
<% form_for(@event) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p class="tweet">
    <div class="tweet-chars">140</div>
    <%= f.label :tweet %><br />
    <%= f.text_field :tweet %>
  </p>
  <p>
    <%= f.label :venue %><br />
    <%= f.text_field :venue %>
  </p>
  <p>
    <%= f.label :street %><br />
    <%= f.text_field :street %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city, :value => @event.city || 'SF'%>
  </p>
  <p>
    <%= f.label :state %><br />
    <%= f.text_field :state, :value => @event.state || 'CA' %>
  </p>
  <p>
    <%= f.label :zip %><br />
    <%= f.text_field :zip, :value => @event.zip || 94110 %>
  </p>
  <p>
    <%= f.label :starttime %><br />
    <div id="starttime_widget"><input></div>
    <div id="starttime"></div>
    <%# f.datetime_select :starttime %>
  </p>
  <p>
    <%= f.label :endtime %><br />
    <div id="endtime_widget"><input></div>
    <div id="endtime"></div>
    <%# f.datetime_select :endtime %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'All Events', events_path %>
</div>
