= render 'artist_autosuggest'
#event_edit
  %h2 Plug Your Art Show!
  .instructions Please give us as much information (as accurately as possible) about your show.  If everything looks good with your submission, we'll add it to our list of MAU events and publish it to our Facebook and Twitter feeds a few days before the event.
  - form_for(@event) do |f|
    - if f.error_messages.present?
      .error-msg 
        = f.error_messages
    .clear
    .section
      .entry
        = f.label :title
        = f.text_field :title
      .entry
        = f.label :description
        = f.text_area :description, :rows => 10
    .section
      - [:venue, :street, :city, :state, :zip].each do |txtfld|
        .entry
          = f.label txtfld
          = f.text_field txtfld
    .section.times.clear
      - labels = { :starttime => "Start" , :endtime => "End" , :reception_starttime => "Start" , :reception_endtime => "End"  }
      .event_time
        %h6 Event Date/Time
        - [:starttime, :endtime].each do |dt|
          .entry{:class => dt}
            = f.label dt, labels[dt]
            = f.calendar_date_select dt
      .reception_time
        %h6 Reception/Opening Date/Time
        - [:reception_starttime, :reception_endtime].each do |dt|
          .entry{:class => dt}
            = f.label dt, labels[dt]
            = f.calendar_date_select dt
        .clear            
    .section   
      - [:url].each do |txtfld|
        .entry
          = f.label txtfld, "Event Website"
          = f.text_field txtfld
      - unless request.path.include? 'edit'          
        .entry 
          = label_tag :event_artist_list, "MAU Artists Showing"
          = text_field_tag "event[artist_list]", current_user.get_name(true)
    .clear
    = f.submit 'Submit'
    .clear
