= render 'artist_autosuggest'
#event_edit
  %h2 Plug Your Art Show!
  .instructions Please give us as much information (as accurately as possible) about your show.  If everything looks good with your submission, we'll add it to our list of MAU events and publish it to our Facebook and Twitter feeds a few days before the event.
  = form_for(@event) do |f|
    = render '/common/form_errors', :form => f
    .clear
    .section
      .entry
        = f.label :title
        = f.text_field :title
      .entry
        = f.label :description
        = f.text_area :description, :rows => 10
    .section
      - [:venue, :street, :city, :state, :zip].each do |txtfld|
        .entry
          = f.label txtfld
          = f.text_field txtfld
    .section.times.clear
      - labels = { :starttime => "Start" , :endtime => "End" , :reception_starttime => "Start" , :reception_endtime => "End"  }
      .event_time
        %h6 Event Date/Time
        = label_tag :start
        .starttime
          = f.text_field :start_date, :class => 'pickadate', :placeholder => 'date'
          = f.text_field :start_time, :class => 'pickatime', :placeholder => 'time'
        = label_tag :end
        .endtime
          = f.text_field :end_date, :class => 'pickadate', :placeholder => 'date'
          = f.text_field :end_time, :class => 'pickatime', :placeholder => 'time'
      .reception_time
        %h6 Reception/Opening Date/Time
        = label_tag :start
        .starttime
          = f.text_field :reception_start_date, :class => 'pickadate', :placeholder => 'date'
          = f.text_field :reception_start_time, :class => 'pickatime', :placeholder => 'time'
        = label_tag :end
        .endtime
          = f.text_field :reception_end_date, :class => 'pickadate', :placeholder => 'date'
          = f.text_field :reception_end_time, :class => 'pickatime', :placeholder => 'time'
        .note Note: without a reception time, your event will not show up on our calendar.  It will only show up on the main list of events.
        .clear
    .section
      - [:url].each do |txtfld|
        .entry
          = f.label txtfld, "Event Website"
          = f.text_field txtfld
      - unless request.path.include? 'edit'
        .entry
          = label_tag :event_artist_list, "MAU Artists Showing"
          = text_field_tag "event[artist_list]", current_user.get_name
    .clear
    = f.submit 'Submit', :class => 'formbutton'
    .clear
