.admin-table.singlecolumn
  %h1 Favorites!
  %table.favorites
    %thead
      %tr
        %th login
        %th artists
        %th pieces
        %th favorited
    %tbody
      %tr
        %td Totals
        %td
          = @favorites.total_artists
        %td
          = @favorites.total_art_pieces
        %td
          = @favorites.total_favorited_users

      - @favorites.each do |user,favinfo|
        %tr{:class => cycle('even','odd')}
          %td
            = link_to user.login, user_path(user)
          %td
            = favinfo.artists
          %td
            = favinfo.art_pieces
          %td
            = favinfo.favorited
