= form_for([:admin, medium]) do |f|
  = medium.errors.full_messages unless medium.errors.full_messages.present?
  .form-field
    = f.label :name
    %br
    = f.text_field :name
  .form-controls
    = f.submit :class => "formbutton"

= link_to 'Back', media_path
