= javascript_include_tag asset_path("jquery.js")
= javascript_include_tag asset_path("jquery.mobile.js")
= javascript_include_tag asset_path("underscore.js")
= javascript_include_tag asset_path("mau/query_string_parser.js")
= javascript_include_tag asset_path("mau_mobile.js")
