<%= javascript_include_tag 'mau.submissions' %>
<table class="tbl-content" cellpadding="0" cellspacing="0">
  <%= render :partial => "/twocol_top" %>
  <tr>    
    <td class="lcol" colspan='2'>
      <%= render :partial => "/users/sidebar_nav" %>
    </td>
    <td class="vstripe"></td>
    <td class="rcol" colspan='2'>
      <div class="logo-spacer">&nbsp;</div>
      <% if flash[:error] %><div class="error-msg"><%= flash[:error] %></div><% end %>
      <div class="flax-chooser thumb flax">
        <%= form_tag "/flaxart/submit_check", :id => 'submitPics' %>
        <h3>Spring OS Juried Preview Show</h3>
        <div class="breadcrumbs">
          <span class="current">Choose Art &raquo;</span>
          <span>Verify Art &raquo;</span>
          <span>Submit Payment &raquo;</span>
          <span>Success</span>
        </div>
        <p class="instructions">
        <p>
If you need to add more art first to your MAU portfolio, choose <i>add art</i> on the menu on left. Make sure you have accurately filled in the medium and dimensions field for the Jurors.  When you're done uploading and ready to submit, click <i>Submit to Flax Show</i> on the left sidebar menu and it'll bring you right back here.
        </p>
        <p>
          Choose up to 3 images to submit by checking the boxes below each image.
        </p>
        </p>
        <div class="container">
          <% if current_user.art_pieces.length > 0 -%>
          <ul>
            <% current_user.art_pieces.each do |ap|
               xclass = ''
               if ap.id == current_artist.art_pieces.last.id
               xclass = ' last ' 
               end
               -%>
            <%= draw_chooser_item ap, :class => xclass %>
            <% end -%>
          </ul>
          <% else %>
          <p>You first need to add some art to your account.  Try the 'add art' link on the left!</p>
          <% end -%>
          <div class="clear"></div>
        </div>
        <% checked = (current_artist.os_participation['201104'] ? 'checked=checked' : '') %>
        <input name="springos201104" type="checkbox" <%= checked %> ><label for="springos201104">I'm participating in Spring Open Studios April 16/17</label>
        <div class="edit-buttons">
          <input type="submit" value="Submit these pieces"/>
          <input type="hidden" name="artist" value="<%= self.current_artist.id %>"/>
        </div>
      </form>
    </div>
    </td>
  </tr>
<%= render :partial => "/twocol_bottom" %>
</table>
