<p>
  Dear Mission Artist Events Watcher,
</p>
<p>
  We just got a new event from one of our members.
</p>
<p>
  Subject: <%= @event_info.subject %>    <br/>
  User's email: <%= @event_info.email %> <br/>
  Logged in as: <%= @event_info.login %> <br/>
  URL: <%= link_to @event_info.url %> <br/>
  Sent at: <%= Time.zone.now %> <br/>
</p>
<p>
  Comment:
  <%= @event_info.comment %>
</p>
<p>
  Environment: <%= Rails.env %>
</p>
