#role_mgr
  = render :partial => '/flash_notice_error'
  .links
    = link_to "[add new role]", new_admin_role_path
  %h3 Roles & Members
  %ul
    - @roles.each do |role|
      %li.role_container{:class => [cycle('even', 'odd'), role.role].join(' ')}
        .role_controls
          = link_to "[manage]", edit_admin_role_path(role)
          = link_to "[destroy]", [:admin, role], :confirm => 'Are you sure?', :method => :delete

        .role #{role.role}
        %ul.role_members
          - (@users_by_role[role.role] || []).each do |u|
            %li #{u.fullname}

