.admin-table
  %h1 New role

  = form_for [:admin,@role] do |f|
    = render '/common/form_errors', :form => f

    = f.label :role
    = f.text_field :role
    = f.submit 'Create', :class => "pure-button"

.links
  = link_to '[all roles]', admin_roles_path
