.admin-table
  %h1 Listing Cms Documents

  = render '/flash_notice_error'

  = link_to 'New cms_document', new_admin_cms_document_path

  %table.pure-table.pure-table-striped
    %thead
      %tr
        %th Page
        %th Section
        %th Last Updated
        %th By
        %th
    %tbody
      - @cms_documents.each do |cms_document|
        %tr
          %td
            = cms_document.page
          %td
            = cms_document.section
          %td
            = cms_document.updated_at.to_formatted_s(:admin)
          %td
            = cms_document.user.try(:login)
          %td
            = link_to [:admin,cms_document], title: 'Show' do
              = fa_icon 'eye-open'
            = link_to edit_admin_cms_document_path(cms_document), title: 'Edit' do
              = fa_icon 'edit'
            = link_to  [:admin, cms_document], title: 'Delete', alt: 'Delete', confirm: 'Are you sure?', method: :delete do
              = fa_icon 'remove'
