.cms-content
  %h1 CMS Content
  .links
    = link_to 'Show This Document', [:admin, @cms_document]
    = "|"
    = link_to 'Document Index', admin_cms_documents_path
  = render '/flash_notice_error'
  = form_for [:admin,@cms_document] do |f|
    = render '/common/form_errors', :form => f
    .header_inputs.clear
      .section
        = f.label :page
        = f.text_field :page
      .section
        = f.label :section
        = f.text_field :section
      .section
        Last Updated by: #{@cms_document.user.try(:login) || 'unknown'} on #{@cms_document.updated_at.try(:to_formatted_s,:admin)}
      .markdown-ctrls
        %span#process_markdown_btn.formbutton preview &raquo;
        = f.submit 'Save', :class => 'formbutton'

    .section.markdown-input
      = f.text_area :article, :rows => 50, :cols => 50, :class => 'input-markdown'
    .section.markdown-results
      .markdown#processed_markdown
        != MarkdownService.markdown @cms_document.article
    .clear
      Find more about Markdown here
      %a{:href =>"http://daringfireball.net/projects/markdown/basics",:target => "_blank"} markdown basics
      or on our
      %a{:href => "/tests/markdown"} markdown test page.
    %p
      = f.submit 'Save', :class => "formbutton"
