<div class="popup-title"><%= @title %></div>
<div class="popup-text">
  <%= form_for :feedback, @feedback, :url => feedback_path, :html => {:id => "feedback_form"} do |f| -%>
  <div class="fdbk-form">
    <% unless @error_message.blank? -%>
    <div class="error-msg">
      <%= @error_message %>
    </div>
    <% end -%>
    <div class="fdbk-form-container">
      <div id="info_text">We love to get feedback.  Please let us know what you think of the website, what MAU can do for you, or whatever else you might like to tell us.  If you would like to get involved with MAU or Spring Open Studios planning, please leave your email and we'll get in touch as soon as we can.
      </div>
      <div id="email_input" class="fdbk-input">
	<%= f.label 'email' %>
	<% if !logged_in? -%>
	<%= f.text_field 'email' %>
	<% else %>
	<%= f.text_field 'email', :readonly => 'readonly', :value => current_user.email %>
	<% end -%>
      </div>
      <div id="comment_input" class="fdbk-input">
	<%= f.text_area 'comment', :cols => 70, :rows => 10, :value => "<enter your comment here>" %>
      </div>
      <div id="send_input">
	<%= f.submit 'Send' %>
	<button class='formbutton' id="feedback_close_btn" onclick="return false;">Cancel</button>
      </div>
      <%= f.hidden_field 'subject', :value => @section %>
      <%= f.hidden_field 'page', :value => request.referer %>
      <% if current_user -%>
      <%= f.hidden_field 'login', :value => current_user.login %>
      <%= f.hidden_field 'email', :value => current_user.email %>
      <% end -%>
      <%= f.hidden_field 'url', :value => request.path %>
    </div>
  </div>
  <% end -%>
</div>

<% if !logged_in? -%>
<div class="feedback-signup-msg">Are you an artist working in the Mission District of San Francisco? <%= link_to "Sign up!", "/artists/new" %></div>
<% end -%>

