.admin-table.singlecolumn
  %h1 listing tags

  .controls
    %a{:href => '/art_piece_tags/cleanup'} delete unused tags
  %table
    %tr
      %th ID
      %th Name
      %th Count
      - @tags.each_with_index do |(tag, ct), idx|
        - clz = cycle('even','odd')
        - clz << ' error-msg' if ct <= 0
        %tr{:class => clz}
          %td #{tag.id}
          %td #{tag.name}
          %td.input-name.ct #{ct}
          %td.input-name
            = link_to 'Show', tag
          %td.input-name
            = link_to('Destroy', tag, :confirm => 'Are you sure?', :method => :delete)

