<div class="admin-table singlecolumn">
<h1>Listing tags</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Count</th>
  </tr>

<% @tags.each_with_index do |tag, idx| %>
<%  clz = (((idx%2) == 0) ? 'even' : 'odd')
    if tag['count'] <= 0
       clz << ' error-msg'
    end
-%>
  <tr class='<%= clz %>'>
    <td><%=h tag.id %></td>
    <td><%=h tag.name %></td>
    <td class='input-name'><%= tag['count'] %></td>
    <td class='input-name'><%= link_to 'Show', tag %></td>
    <td class='input-name'><%= link_to 'Edit', edit_art_piece_tag_path(tag) %></td>
    <td class='input-name'><%= link_to 'Destroy', tag, :confirm => 'Are you sure?', :method => :delete %></td>

  </tr>
<% end %>
</table>
<%= link_to 'New tag', new_art_piece_tag_path %>
</div>
