<table class="tbl-content" cellpadding="0" cellspacing="0">
  <%= render :partial => '/twocol_top' %>
  <tr>    
    <td class="lcol" colspan='2'>
	  <%= render :partial => 'tag_list' %>
    </td>
    <td class="vstripe"><img class="page-height-spacer" src="/images/bg-5px.png"/></td>
    <td class="rcol" align="center"><!-- tags/index -->
      <div id="search_results">
      <% if flash[:error] %>
      <div class="error-msg">
	<%= flash[:error] %>
      </div>
      <% end %>
      <% if @pieces and !@pieces.empty? %> 
      <%=
	 render :partial => '/art_pieces/thumbs', :locals => { :pieces => @pieces,
                                                           :params => { :cols => 5,
                     :show_footer => false,
                     :size => 'thumb' 
                     }}
      %>
      <% end %>
      </div>
    </td>
    <td></td>
  </tr>
  <%= render :partial => '/twocol_bottom' %>
</table>
