%table.tbl-content
  %tr
    %td.lcol{ :colspan => '2' }
      = render 'tag_list', :cloud => @tag_cloud_presenter
    %td.vstripe
    %td.rcol{ :colspan => '2'}
      %h4
        Search for tag:
        %span.query
          = @tag.name
      #search_results
        .search-view-ctrls
          = render "/common/pagination", :paginator => @paginator
          = render "/art_pieces/mode_selector", :by_artists_link => @by_artists_link, :by_pieces_link => @by_pieces_link
        = render '/flash_notice_error'
        .search-results
          - if @tag_presenter.art_pieces.present?
            = render '/search/thumbs', :pieces => @tag_presenter.art_pieces, :params => { :cols => 2, :show_footer => false, :size => 'thumb', :art_link => true }
        .search-view-ctrls
          = render "/common/pagination", :paginator => @paginator
