<div class="single_column admin-table">
<h4>Listing media</h4>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
  </tr>

<% @media.each_with_index do |medium, idx| %>
<%  clz = (((idx%2) == 0) ? 'even' : 'odd')
-%>
  <tr class='<%= clz %>'>
    <td><%= medium.id %></td>
    <td><%= medium.name %></td>
    <td><%= link_to 'Show', medium %></td>
    <td><%= link_to 'Edit', edit_medium_path(medium) %></td>
    <td><%= link_to 'Destroy', medium, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= link_to 'New medium', new_medium_path %>
