<h1>Editing medium</h1>

<%= form_for(@medium) do |f| %>
  <%= f.errors.full_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update', :class => "formbutton" %>
  </p>
<% end %>

<%= link_to 'Show', @medium %> |
<%= link_to 'Back', media_path %>
