<table class="tbl-content" cellpadding="0" cellspacing="0">
  <%= render :partial => '/twocol_top' %>
  <tr>    
    <td class="lcol"  colspan='2'>
      <%= render :partial => 'media_link_list' %>
    </td>
    <td class="vstripe"></td>
    <td class="rcol" colspan='2'>
      <div id="search_results">
      <% if flash[:error] %>
      <div class="error-msg">
	<%= flash[:error] %>
      </div>
      <% end %>
      <% if @pieces and !@pieces.empty? %> 
      <%=
	 render :partial => '/art_pieces/thumbs', :locals => { :pieces => @pieces,
                                                           :params => { :cols => 5,
                     :show_footer => false,
                     :select => false,
                     :size => 'thumb'
      }}
      %>
      <% end %>
      </div>
    </td>
  </tr>
  <%= render :partial => '/twocol_bottom' %>
</table>
