%table.tbl-content
  %tr
    %td.lcol{ :colspan => '2' }
      = render 'media_link_list', :match => @medium
    %td.vstripe
    %td.rcol{ :colspan => '2'}
      %h4
        Search for medium: 
        %span.query
          = @medium.name
      #search_results
        .search-view-ctrls
          = render "/common/pagination", :paginator => @paginator
          = render "/art_pieces/mode_selector"
        = render '/flash_notice_error'
        .search-results
          - if @pieces and !@pieces.empty?
            = render '/search/thumbs', :pieces => @pieces, :params => { :cols => 2, :show_footer => false, :size => 'thumb', :art_link => true }
        .search-view-ctrls
          = render "/common/pagination", :paginator => @paginator

