<table class="tbl-content" cellpadding="0" cellspacing="0">
  <%= render :partial => '/twocol_top' %>
  <tr>    
    <td></td>
    <td class="alt-lcol" align="center">
      <%= render :partial => 'media_link_list', :locals => { :match => @medium } %>
    </td>
    <td class="vstripe"><img class="page-height-spacer" src="/images/bg-5px.png"/></td>
    <td class="rcol" align="center"><!-- media/show -->
      <h4>
	Search for medium: <span class='query'><%=h @medium.name %></span>
      </h4>
      <div id="search_results">
	<div>
	  <%= render :partial => "/pagination" %>
	  <%= render :partial => "/art_pieces/mode_selector" %>
	</div>
	<% if flash[:error] -%>
	<div class="error-msg">
	  <%= flash[:error] %>
	</div>
	<% end -%>
	<div class="search-results">
	  <% if @pieces and !@pieces.empty? -%> 
	  <%=
	     render :partial => '/search/thumbs', :locals => { :pieces => @pieces.reverse,
	  :params => { :cols => 2,
          :show_footer => false,
          :size => 'thumb',
	  :art_link => true
          }}
	  %>
	  <% end -%>
	</div>
	<div>
 	  <%= render :partial => "/pagination" %>
	</div>
      </div>
    </td>
  </tr>
  <%= render :partial => '/twocol_bottom' %>
</table>    
