<table class="tbl-content" cellpadding="0" cellspacing="0">
  <%= render :partial => '/twocol_top' %>
  <tr>    
    <td class="lcol"  colspan='2'>
      <%= render :partial => 'media_link_list', :locals => { :match => @medium } %>
    </td>
    <td class="vstripe"></td>
    <td class="rcol" colspan='2'>
      <h4>
	Search for medium: <span class='query'><%= @medium.name %></span>
      </h4>
      <div id="search_results">
	<div class="search-view-ctrls">
	  <%= render :partial => "/pagination" %>
	  <%= render :partial => "/art_pieces/mode_selector" %>
	</div>
        <%= render :partial => '/flash_notice_error' -%>
	<div class="search-results">
	  <% if @pieces and !@pieces.empty? -%> 
	  <%=
	     render :partial => '/search/thumbs', :locals => { :pieces => @pieces.reverse,
	  :params => { :cols => 2,
          :show_footer => false,
          :size => 'thumb',
	  :art_link => true
          }}
	  %>
	  <% end -%>
	</div>
	<div class="search-view-ctrls">
	  <%= render :partial => "/pagination" %>
	</div>
      </div>
    </td>
  </tr>
  <%= render :partial => '/twocol_bottom' %>
</table>    
