<%
art_piece = @new_art.art_piece
artist = @new_art.artist
studio = @new_art.studio
%>
<p>
  Dear MAU Web Posse member,
</p>
<p>
  Today someone added a new piece of art!
</p>
<p>
  <ul>
    <li>
      New Art: <%= link_to art_piece.title, art_piece_url(art_piece) %>
    </li>
    <li>
      By Artist: <%= link_to artist.get_name, artist_url(artist) %>
    </li>
    <li>
      In studio: <%= link_to studio.name, studio_url(studio) %>
    </li>
    <% artist.links.slice(:facebook, :instagram, :twitter).each do |k,v| %>
      <li>
        <%= k&.to_s.capitalize %>: @<%= ArtistFormLinks.handle_from_link(v, source: k) %> - <%= v %>
      </li>
    <% end %>
    <% if OpenStudiosEventService.current %>
      <li>
        Participating in <%= OpenStudiosEventService.current.for_display %>: <%= artist.doing_open_studios?.to_s %>
      </li>
    <% end %>
  </ul>
</p>
<p>
  Here's a possible social media post:
</p>
<p>
  &quot;<%= art_piece.title %>&quot; by <%= artist.get_name %>.
  <%= @new_art.open_studios_info %>
  <%= @new_art.hash_tags %>
</p>
<p>
  <img style="width: 100%; max-width: 600px;" src="<%= art_piece.image(:original) %>"  title="<%= art_piece.title %>" />
</p>
<hr/>
<p>
  Environment: <%= Rails.env %>
</p>
