.admin-table.blacklist_domains
  %h1 Blacklisted Domains
  - if flash[:error]
    .error-msg Error: #{flash[:error]}
  - if flash[:notice]
    .notice #{flash[:notice]}

  .container  
    .edit-controls 
      = link_to 'add new', new_blacklist_domain_path
    %ul
      - @domains.each_with_index do |domain, idx| 
        %li.domain
          %span
            = domain.domain
          %span
            = link_to('X', domain, :confirm => 'Are you sure you want to remove this blacklisted domain?', :method => :delete)
