.pure-g
  .pure-u-1-1.padded-content.header
    %h2.title
      Studios (#{@studios.count})
      .admin-table__controls
        - if current_user.is_admin?
          = link_to new_admin_studio_path, title: 'add studio' do
            = fa_icon "plus-circle"
      = render partial: '/flash_notice_error'
  .pure-u-1-1.padded-content
    %table.js-data-tables.pure-table.pure-table-striped#studios_index
      %thead
        %tr
          %th Name
          %th Address
          %th Population
          %th Logo
          %th Website
          %th
      %tbody
        - @studios.each do |studio|
          %tr
            %td
              = link_to studio.name, studio_path(studio)
            %td
              %div #{studio.street}
              %div @ #{studio.cross_street || "(no cross street)"}
              %div #{studio.city}, #{studio.state}
              %div #{studio.zip}
            %td
              = studio.artists.active.count.to_s()
            %td.profile-image
              - if studio.profile_image?
                %img{src: studio.get_profile_image('thumb')}
            %td
              %a{target: '_blank', href: studio.url} #{studio.url}
            %td.admin-controls
              .show.btn
                = link_to studio_path(studio), title: 'Show' do
                  = fa_icon 'eye-open'
              .edit.btn
                - if current_user.is_admin? || current_user.manages?(studio)
                  = link_to edit_admin_studio_path(studio), title: 'Edit' do
                    = fa_icon 'edit'
              .remove.btn
                - if current_user.is_admin? && !(studio.is_a? IndependentStudio)
                  = link_to studio, confirm: 'Are you sure?', method: :delete, title: 'Remove' do
                    = fa_icon 'remove'
