.singlecolumn.application_events
  %h4 Application Events

  - if flash[:error]
    .error-msg Error: #{flash[:error]}
  - if flash[:notice]
    .notice #{flash[:notice]}
  - @events_by_type.each do |key, events|
    - if events.length
      .events_list{:class => key.to_s.tableize}
        %h5 #{key}
        %table
          %tbody            
            - events.each do |ev| 
              %tr{:class => cycle('odd','even')}
                %td.message #{ev.message}
                %td.user 
                  = link_to_user ev
                %td.last.date #{ev.created_at.strftime("%b %d, %Y %H:%M")}

