      <table id="footer-tbl" width="900" border="0" cellspacing="0" cellpadding="0">
  	<tr class="tr-short">
    	  <td class="ltcorner" width="9"><img src="<%= @corners[0] %>" height="9" width="9" alt=""/></td>
    	  <td></td>
    	  <td></td>
    	  <td class="rtcorner" width="9"><img src="<%= @corners[1] %>" height="9" width="9" alt=""/></td>
  	</tr>
  	<tr>
    	  <td></td>
    	  <td class="td-left">&copy; mission artists united</td>
    	  <td class="td-right">
<% feedback_link_text = "feedback" -%>
<span class="footer-nav"><%= feedback_link feedback_link_text , :class => 'lkdark' %></span>
<span class="footer-nav"><a class="lkdark" href="/privacy">privacy</a></span>
<span class="footer-nav"><a class="lkdark" href="/contact">contact us</a></span></td>
	  <td></td>
  	</tr>
  	<tr class="tr-short">
    	  <td class="lbcorner" ><img src="<%= @corners[3] %>"  alt=""/></td>
    	  <td></td>
    	  <td></td>
    	  <td class="rbcorner"><img src="<%= @corners[2] %>"  alt=""/></td>
  	</tr>
      </table>
