      <table id="footer-tbl" cellspacing="0" cellpadding="0">
  	<tr class="tr-short">
    	  <td class="ltcorner" ><img src="<%= @corners[0] %>" alt=""/></td>
    	  <td></td>
    	  <td></td>
    	  <td class="rtcorner" ><img src="<%= @corners[1] %>" alt=""/></td>
  	</tr>
  	<tr>
    	  <td></td>
    	  <td class="td-left">&copy; mission artists united</td>
    	  <td class="td-right footer" id="footer_right">
	    <% feedback_link_text = "feedback" -%>

	    <span ><%= link_to "faq", faq_url, :class => 'lkdark' %></span>
	    <span ><%= feedback_link feedback_link_text , :class => 'lkdark' %></span>
	    <span ><a class="lkdark" href="/privacy">privacy</a></span>
	    <span ><a class="lkdark" href="/contact">contact us</a></span>
	    <span ><a id="credits_lnk" class="lkdark" href="#">credits</a></span></td>
	  <td></td>
  	</tr>
  	<tr class="tr-short">
    	  <td class="lbcorner" ><img src="<%= @corners[3] %>"  alt=""/></td>
    	  <td></td>
    	  <td></td>
    	  <td class="rbcorner"><img src="<%= @corners[2] %>"  alt=""/></td>
  	</tr>
      </table>
