%a{:href => '/'}
  %img#logo{:title => 'Mission Artists United', :alt => 'Mission Artists United', :src => @logo_img}
#header_bar
  #artisthemission
    %img{ :title => "Art is the Mission", :alt => "Art is the Mission", :src => "/images/artisthimission4.gif" }
  #search_btn2
    %a.lkdark#search_link{:title =>'search', :href => '#'}
      %img#search_icon{:title => 'search', :src => '/images/icons/searchicon24.png'}
  #search_nav2
    = form_tag '/search', :method => 'post', :id => 'search_form' do
      %input#search_box.srch{:type => 'text', :name => 'query', :size => '14'}
  #nav_bar
    .nav
      %ul#mymaunav.dropdown
        - if logged_in?
          :ruby
            navitems = []
            if current_artist
              navitems << link_to('edit my page', edit_artist_path(current_artist))
              navitems << link_to('add art', new_artist_art_piece_path(current_artist))
              navitems << link_to('arrange art', arrange_art_artists_path)
              navitems << link_to('delete art', delete_art_artists_path)
              navitems << link_to('plug your art show', new_event_path, :class => 'list_your_show_dropdown')

              navitems << link_to("<span class='heart'>&hearts;</span> my favorites</a>", favorites_user_path(current_user))
              navitems << link_to('resources', artist_resources_path, :title => 'artists\' resources')
              navitems << link_to('my qrcode', qrcode_artist_path(current_artist), :target => '_blank')

            else
              navitems << "<a href='#{edit_user_path(current_user) }'>edit my page</a>"
              navitems << "<a href='#{favorites_user_path current_user}'><span class='heart'>&hearts;</span> my favorites</a>"
              mypath = user_path(current_user)
            end
          %li.dir
            = link_to 'my&nbsp;mau'.html_safe, mypath, {:class => 'lknav'}
            %ul
              = print_html_list('leaf', navitems)
        - else
          %li.dir
            = link_to 'join in!', login_path, {:class => 'lknav'}

      - [ ['events','/events/'], ['venues','/venues'], ['studios','/studios/'] ].each do |nm,lk,clz|
        %ul.dropdown{:class => clz}
          %li.dir
            %a.lknav{:href => lk, :title => nm} #{nm}

      %ul#artistsnav.dropdown.first
        %li.dir
          %a.lknav{:href => artists_path, :title => 'artists'} artists
          %ul
            :ruby
              artistsnav = []
              artistsnav << "<a href='#{artists_path}' title='artists by name'>artists by name</a>"
              if Conf.oslive
                 artistsnav << "<a href='#{ artists_path(:osonly => 1) }' title='open studios artists'>open studios artists</a>"
              end
              artistsnav << "<a href='#{ map_artists_path }' title='artists by map'>artists by map</a>"
              artistsnav << "<a href='#{ media_path :m => 'a' }' title='artists by medium'>artists by medium</a>"
              artistsnav << "<a href='#{ art_piece_tags_path :m => 'a' }' title='artists by tag'>artists by tag</a>"
              if Conf.oslive
                artistsnav << "<a href='#{ map_artists_path(:osonly => 1) }' title='map of open studios artists'>open studios map</a>"
                artistsnav << "<a href='#{ open_studios_path }' title='what is open studios?'>open studios info</a>"
              end
            = print_html_list('leaf', artistsnav)
