<script type="text/javascript">
  var authenticityToken  = encodeURIComponent('<%= form_authenticity_token %>')
</script>
<% if logged_in? %>
<div id="logout">
<%# spans go in reverse order because they all float right %>
  <span class="navitem">
    <%= link_to "log out", logout_path, { :title => "Log out", :class => "lkdark" }  %> 
  </span>
  <span class="navsep"> | </span>
  <span class="logout-navitem navitem" id="acct_menu">
    <ul id="artist_dropdown" class="dropdown">
      <li class="dir">account <span class="logout-nav-opener">&#9660;</span>
	<ul>
	  <li class="first"><a href="<%= edit_artist_path(current_artist) %>">edit profile</a></li>
	  <li><a href="/art_pieces/new">add art</a></li>
	  <li><a href="<%= arrangeart_artist_path(current_artist) %>">arrange art</a></li>
	  <li><a href="<%= deleteart_artist_path(current_artist) %>">delete art</a></li>
	  <li class="last"><a href="">submit event</a></li>
	</ul>
      </li>
    </ul>
  </span>
  <span class="navsep"> | </span>
  <span class="logout-nav navitem">hello, <a class="lkdark" href="<%=h artist_path(current_artist) %>"><%=h current_artist.login %></a>
  </span>
  <% if self.current_artist.is_admin? %>
  <%= render :partial => '/admin_header' %>
  <% end %>
  <div class="clear"></div>
</div>
<% else %>
<div id="login_toplink"  ><%= link_to "log in",  login_path,  { :title => "log in", :class => "lkdark" } %> |
  <%= link_to "sign up", signup_path, { :title => "create an account", :class => "lkdark" } %>
</div>
<% end %>       
