<script type="text/javascript">
  var authenticityToken  = encodeURIComponent('<%= form_authenticity_token %>')
</script>
<% if logged_in? %>
<div id="logout">

  <%# spans go in reverse order because they all float right %>
  <span class="navitem last">
    <%= link_to "log out", logout_path, { :title => "Log out", :class => "lkdark" }  %> 
  </span>
  <span class="logout-nav navitem">hello, 
    <a class="lkdark" href="<%= user_path(current_user) %>"><%= current_user.login %></a>
  </span>
  <div class="clear"></div>
</div>
<% else %>
<div id="login_toplink"  ><%= link_to "log in",  login_path,  { :title => "log in", :class => "lkdark" } %> |
  <%= link_to "sign up", signup_path, { :title => "create an account", :class => "lkdark" } %>
</div>
<% end %>       
