.logo
  %a{:href => '/open_studios'}
    - url = current_open_studios.display_logo
    %img{:title => current_open_studios.title, :src => url}

-# - if current_open_studios.available?
-#   - path = current_artist ? edit_artist_path(current_user, anchor: 'events') : login_path
-#   %a.action_button.text{:title => "Signup for #{current_open_studios.title} Now!", :href => path}
-#     signup for #{current_open_studios.title}

%a.action_button.text{:title => "Tell us about your upcoming art show!", :href => new_event_path}
  plug your art show

= render :partial => '/art_pieces/new_art'
= render :partial => '/feeds/feed'

.buttons
  %a.action_button.text{:title => "Get on the mailing list to hear all about MAU Events and Open Studios.", :href => contact_path}
    mau mailing list
  %a.action_button.text{:title => "Volunteer, shop, send us your feedback, donate, participate...", :href => getinvolved_path}
    get involved

= render :partial => '/common/social_links' unless @is_homepage
