.qrcode_test
  %h2 QR Encoder Test Page

  .inputs
    %h3 Input
    = form_tag do
      .entry
        %label{:for => 'string_to_encode'} Words:
        %input{:id => 'string_to_encode', :name => 'string_to_encode', :value => @string_to_encode}
      .entry
        %label{:for => 'pixel_size'} Pixel Size
        %select{:id => 'pixel_size', :name => 'pixel_size'}
          - 9.times do |sz|
            - if (sz + 1 == @pixel_size.to_i) 
              %option{ :selected => 'selected', :value => sz + 1} #{sz+1}
            - else
              %option{ :value => sz + 1} #{sz+1}
      .entry
        %input{:type => 'submit'}

  .outputs
    %h3 Output
    .params    
      .entry Words: #{@string_to_encode}
      .entry PixelSize: #{@pixel_size}
    .img
      %img{:src => @qrfile}
    .clear

