= form_for(studio) do |f|
  = render '/common/form_errors', :form => f

  - [:name, :street, :cross_street, :city, :state, :zip, :phone, :url].each do |textfield|
    .field-row
      = f.label textfield
      = f.text_field textfield

  %p.controls
    = f.submit :class => 'formbutton'
