.studio-thumb
  .studio-img
    %a{:href => studio.studio_path, :title => studio.name}
      %img{:class => "studio-img", :src => studio.image(:thumb)}
  .studio-nfo
    .name
      %a{:href => studio.studio_path, :title => studio.name}
        #{studio.name}
    - unless studio.indy?
      .address
        #{studio.street}
        = link_to studio.map_link, title: :map, target: "_blank" do
          %i.fa.fa-map-marker
    - if studio.artists?
      .populations
        .population
          = studio.artists_count_label
        .os_population
          = studio.open_studios_artists_count_label
