%table.tbl-content
  = render :partial => "/twocol_top"
  %tr
    %td.lcol{:colspan => 2}
      = render :partial => 'studio_list'
    %td.vstripe
    %td.rcol{:colspan => 2}
      #studio_page
        = render :partial => 'view_switcher'
        = render :partial => '/flash_notice_error'
        = render :partial => 'thumbs', :locals => {:studios => (@studios_by_count || @studios) }
  = render :partial => '/twocol_bottom'
