<table class="tbl-content" cellpadding="0" cellspacing="0">
  <%= render :partial => "/twocol_top" %> 
  <tr>
    <td class="lcol"  colspan='2'>
      <%= render :partial => 'studio_list' %>
    </td>
    <td class="vstripe"><img class="page-height-spacer" src="/images/bg-5px.png"/></td>
    <td class="rcol" colspan='2'>
      <div id="studio_page">
	<% if flash[:error] %>
	<div class="error-msg">
	  <%= flash[:error] %>
	</div>
	<% end %>
	<%= render :partial => 'thumbs', :locals => { :studios => @studios } %>
      </div>
    </td>
  </tr>
  <%= render :partial => '/twocol_bottom' %>
</table>
