<h1>New studio</h1>

<%= form_for(@studio) do |f| %>
  <%= f.errors.full_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :street %><br />
    <%= f.text_field :street %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city, :value => "San Francisco" %>
  </p>
  <p>
    <%= f.label :state %><br />
    <%= f.text_field :state, :value => "CA" %>
  </p>
  <p>
    <%= f.label :zip %><br />
    <%= f.text_field :zip, :value => "94110" %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', studios_path %>
