%div
  %h2 #{@studio.name}
  .address
    .street #{@studio.street}
    - if !@studio.indy?
      %span.lkmap
        = link_to 'map', @studio.map_link
  .participants
    Open Studios Participants: #{@studio.open_studios_artists.count}
    = link_to '(learn more)', open_studios_path
  - if @studio.has_artists_with_art?
    %ul.artists-thumbs
      - @studio.artists_with_art.each do |artist|
        - piece = artist.representative_piece.get_path 'small'
        %li
          %a{:href => artist.show_path}
            .thumb{:style => "background-image:url(#{piece});"}
            .name #{artist.for_mobile_list}
          - if artist.doing_open_studios?
            .os-star
