<table class="tbl-content" cellpadding="0" cellspacing="0">
  <tr>
    <td class="lcol"  colspan='2'>
      <%= render :partial => 'studio_list' %>
    </td>
    <td class="vstripe"></td>
    <td class="rcol" colspan='2'>
      <div id="studio_page">
	<div class="studio-info">
	  <div class="studio-img">
	  <% if @studio.profile_image? -%>
	  <img class="profile" src="<%= @studio.get_profile_image('small') %>" />
	  <% else -%>
	  <img class="profile" src="/images/default-studio.png" width="200" />
	  <% end -%>
	  </div>
	  <h4><%= @studio.name %></h4>
          <%= render :partial => '/flash_notice_error' %>
	  <div>
	    <div class="address">
              <%= @studio.street %>
              <% if @studio.cross_street -%>
              <%= "(@ #{@studio.cross_street})" %>
              <% end -%>
	      <% if @studio.id > 0 -%>
	      <span class="lkmap">(<%= link_to 'map', @studio.map_link, { :target => "_blank" } %>)</span>
	      <% end -%>
	    </div>
	    <div><%= @studio.city %></div>
	    <div class="url">
	      <% if @studio.url -%>
               <%= link_to @studio.url.gsub('http://',''), @studio.url %>
	      <% end -%>
	    </div>
            <% unless @studio.phone.blank? -%>
            <div class="phone">
	      <%= @studio.formatted_phone %>
            </div>
            <% end -%>
	  </div>
	  <div class="clear"><!-- pushes thumbnails below the floating img --></div>
	</div>
	<div class="clear"><!-- pushes thumbnails below the floating img --></div>
	<div><!-- leave here to avoid collapsing margins -->
	  <% if @artists.present? %>
	  <div class="div-left">Artists:</div>
	  <%= render :partial => '/artists/thumbs', :locals => { :artists => @artists, :params => { :cols => 5 }} %>
	  <% end -%>
	  <% if @other_artists.length > 0 -%>
	  <div class="studio-memberlist">
	    <% if @pieces and @pieces.length > 0 %>More<% end %>
	    Artists:
	    <%= @other_artists.map{|a| link_to(a.get_name, a )}.join(", ").html_safe %>
	  </div>
	  <% end -%>
	</div>
      </div>
    </td>
  </tr>
</table>
