<div>
  <h2><%= @studio.name %></h2>
  <div class="address">
    <div><%=h @studio.street %>
      <% if @studio.id > 0 -%>
      <span class="lkmap">(<%= link_to 'map', @studio.map_link, "data-ajax" => false %>)</span>
      <% end -%>
    </div>
    <div><%= @studio.city %></div>
  </div>
  Open Studios Participants: <%= @studio.artists.open_studios_participants.count %>
  <% if @studio.artists.count > 0 -%>
    <div class="artists-thumbs">
      <% @studio.artists.each do |artist| 
         next if artist.nil? || artist.representative_piece.nil?
         os_star = false
         if artist.artist_info
           os_star = artist.os_participation['201104']
         end

      -%>
      <a rel="external" href="<%= artist_path(artist) %>"><div class="thumb"><img src="<%= artist.representative_piece.get_path('small') %>"></div></a>
      <% end -%>
    </div>
  <% end -%>
</div>

