%div
  %h2 #{@studio.name}
  .address
    .street #{@studio.street}
    - if @studio.id > 0 
      %span.lkmap
        = link_to 'map', @studio.map_link
  .participants 
    Open Studios Participants: #{@studio.artists.open_studios_participants.count} 
    = link_to '(learn more)', openstudios_path
  - if @studio.artists.count > 0
    %ul.artists-thumbs
      - @studio.artists.active.select{|a| a.representative_piece}.each do |artist| 
        :ruby
           next if artist.nil?
           os_star = false
           if artist.artist_info
             os_star = artist.os_participation[Conf.oslive.to_s]
           end
           piece = artist.get_profile_image :small
           if artist.representative_piece
             piece = artist.representative_piece.get_path 'small'
           end
        %li
          %a{:href => artist_path(artist)}
            .thumb{:style => "background-image:url(#{piece});"}
            .name #{artist.get_name(true)}
          - if os_star
            .os-star
