<div class="studio-img">
  <% if @studio.has_profile_image %>
  <img class="profile" src="<%= @studio.get_profile_image('small') %>" />
  <% else %>
  <img class="profile" src="/images/default-studio.png" width="200" />
  <% end %>
</div>
<h2><%= @studio.name %></h2>
<div class="address">
  <div><%=h @studio.street %>
    <% if @studio.id > 0 -%>
    <span class="lkmap">(<%= link_to 'map', @studio.map_link, { :target => "_blank" } %>)</span>
    <% end -%>
  </div>
  <div><%= @studio.city %></div>
</div>
<div class="url">
  <% if @studio.url %>
  <%= @studio.url.gsub!('http://','') %>
  <% end %>
</div>
<div class='artist-list'>
<h3>Artists</h3>
<ul class='m-nav'>
<% @studio.artists.each do |a| -%>
<%= render_as_mobile_list_item for_mobile_list(a), :link => artist_path(a) %>
<% end -%>
</ul>
</div>

