#signup
  .logo-spacer
  = form_for @user_session, :url => user_session_path, :id => 'login_form' do |f|
    - if flash[:notice]
      .notice #{flash[:notice]}
    - err = flash[:error]
    - if (@user_session.errors.count > 0)
      - err = "That username/password combination is wrong."
    - if err.present?
      .error-msg
        = err
    .signup-left
      %h2 Already A MAU Member?
      .signup-text
        %table.login-table
          %tr
            %td.input-name
              = f.label :login
            %td.input
              = f.text_field 'login', :placeholder => "username or email", :required => true
          %tr
            %td.input-name
              = f.label :password
            %td.input
              = f.password_field 'password', :placeholder => 'password', :required => true
          %tr
            %td{:colspan => 2, :align => 'center'}
              = f.submit "Sign In", :class => 'formbutton'
        .input-help
          %a{:href => forgot_users_path} Can't access your account?
  .signup-right
    = render_cms_content(@cms_content) do
      = link_to signup_path do
        %button.formbutton Sign Up Now
      



