.singlecolumn
  #signup
    - if flash[:notice]
      .notice #{flash[:notice]}
    - err = flash[:error]
    - if (@user_session.errors.count > 0)
      - err = "That username/password combination is wrong."
    - if err.present?
      .error-msg
        = err

    .signup-left
      %h2 Already A MAU Member?
      = semantic_form_for @user_session, name: "Sign In", url: user_session_path do |f|
        = f.inputs do 
          = f.input :login, placeholder: 'username', required: true
          = f.input :password, placeholder: 'password', required: true
        = f.actions do
          = f.action :submit, label: "Sign In", class: 'formbutton'
        .input-help
          %a{href: forgot_users_path} Can't access your account?

    .signup-right
      = render_cms_content(@cms_content) do
        = link_to signup_path do
          %button.formbutton Sign Up Now




