.fine-print-links
  %ul
    %li
      = link_to "faq", faq_path, :class => 'lkdark'
    %li
      = feedback_link "feedback", {:class => 'lkdark'}
    %li
      = link_to "privacy", privacy_path, :class => 'lkdark'
    %li
      = link_to "about", about_path, :class => 'lkdark'
    %li
      = link_to "contact", contact_path, :class => 'lkdark'
    %li
      = link_to "credits", '#', :class => 'lkdark', :id => 'credits_lnk'
