#footer_bar
  .pure-g
    .pure-u-1-6
      = link_to "faq", faq_path, :class => 'lkdark'
    .pure-u-1-6
      = feedback_link "feedback", {:class => 'lkdark'}
    .pure-u-1-6
      = link_to "privacy", privacy_path, :class => 'lkdark'
    .pure-u-1-6
      = link_to "about", about_path, :class => 'lkdark'
    .pure-u-1-6
      = link_to "contact", contact_path, :class => 'lkdark'
    .pure-u-1-6
      = link_to "credits", '#', :class => 'lkdark', :id => 'credits_lnk'
  .pure-g.credits-footer
    .pure-u-1-2
      site by
      %a{:target => '_blank', :class => 'lkdark', :href => 'http://rcode5.com'} rcode5
    .pure-u-1-2#footer_copy &copy; mission artists united

= render "/common/feedback_form_templates"
