/[if IE]
  = javascript_include_tag 'thirdparty/excanvas.compiled.js'
/[if lt IE 9]
  %script{ :src => "//html5shiv.googlecode.com/svn/trunk/html5.js" }

= javascript_include_tag "http://code.jquery.com/jquery-1.8.2.min.js"
%script
  if (!window.jQuery) {
  document.write("<sc" + "ript src='/javascripts/thirdparty/jquery-1.8.2.min.js'></sc" + "ript>");
  }
  jQuery.noConflict();

= javascript_include_tag "thirdparty/underscore.min.js", "thirdparty/prototype/1.7/prototype.min", "thirdparty/scriptaculous.all.min", "thirdparty/event.simulate.js", "thirdparty/prototype.feedback", "mau/query_string_parser", "mau/mau_prototype", "mau/mau",  "mau/mau_image_lightbox", "mau/mau_cookies", "mau/mau_notes", "mau/mau_popup_view", "mau/mau_admin"

= javascript_include_tag "mau/mau_search"
=# calendar_date_select_includes :mau
- if current_user && current_user.is_editor?
  = javascript_include_tag 'mau/mau_editor.js'
= render :partial => '/common/facebook_sdk' if @facebook_required
- if @pinterest_required
  %script{ "data-pin-do-not-log" => "true",  "type" => 'text/javascript', "src" => "//assets.pinterest.com/js/pinit.js" }
