.nav.nav-tabs
  - user_nav = UserNavigation.new(self, current_user)
  .search.nav-icon{ title: 'search' }
    = fa_icon 'search' 
    .text.hidden-sm search
  .nav-mobile.nav-icon{ title: 'menu' }
    = fa_icon 'bars'

  %ul.js-tabs.tabs.tabs__nav
    %li.tab
      %a{'data-toggle' => 'tab', :href => '#artists', :title => 'artists'} artists
    %li.tab
      %a{'data-toggle' => 'tab', :href => '#open-studios'} open studios
    %li.tab
      %a{'data-toggle' => 'tab', :href => '#art-spaces'} art spaces
    - if logged_in?
      %li.tab
        %a{'data-toggle' => 'tab', :href => '#my-mau'} my mau
  .tab-content        
    %ul.tab-pane#artists
      :ruby
        artistsnav = []
        artistsnav << "<a href='#{artists_path}' title='artists by name'>artists by name</a>"
        artistsnav << "<a href='#{ map_artists_path }' title='artists by map'>artists by map</a>"
        artistsnav << "<a href='#{ media_path :m => 'a' }' title='artists by medium'>artists by medium</a>"
        artistsnav << "<a href='#{ art_piece_tags_path :m => 'a' }' title='artists by tag'>artists by tag</a>"
      %li.title artists
      = print_html_list('leaf', artistsnav)

    %ul.tab-pane#open-studios
      - osnav = OpenStudiosNavigation.new(self, current_user)
      %li.title open studios
      = print_html_list('leaf', osnav.items)

    %ul.tab-pane#art-spaces
      %li.title art spaces
      = print_html_list('leaf', StudioNavigation.new(self).items)

    - if logged_in?
      %ul.tab-pane#my-mau
        %li.title my mau
        = print_html_list('leaf', user_nav.navitems)
