!!! 5
%html
  %head
    = render '/extra_html_head'
    = render '/title'
    = render '/stylesheets'
    = render '/ganalytics'
    = render '/javascripts'
  %body{class: [@browser_as_class, controller_name, action_name].join(" "), 'ng-app' => 'MauApp'}
    - unless browser.modern?
      = render '/old_browser_warning'
    = render '/noscript_msg'
    - if current_user.try(:is_special?)
      = render '/admin_header'
    .highlight
    .container

      .sidenav
        .sidenav__main
          %a{href: root_path, class: "brand"}
            %div{ class: 'sidebar-logo' }
          = render '/navigation'
          .push
        .sidenav__footer
          = render '/common/social_links'
          = render '/common/fine_print_links'

      .main-container.js-main-container
        = render '/flash_notice_error'
        = yield


    = render '/search_form_template'
    = render '/footer_javascripts'
