!!! 5
%html
  %head
    = render '/extra_html_head'
    = render '/title'
    = render '/stylesheets'
    = render '/ganalytics'
    = render '/javascripts'
  %body{class: [@browser_as_class, controller_name, action_name].join(" ") }
    - unless browser.modern?
      = render '/old_browser_warning'
    = render '/noscript_msg'
    - if current_user.try(:is_special?)
      = render '/admin_header'
    .highlight
    .container
      .sidenav
        = render '/navigation'
        = render '/login_controls'
        %a{href: root_path}
          %img{ class: 'sidebar-logo', src: image_path('yellow_sidebar_logo.png') }
        = render '/common/social_links'
      .main-container.js-main-container
        = render '/flash_notice_error'
        = yield
      .clearfix
      = render '/art_pieces/new_art'
    = render '/footer'

    = render '/search_form_template'
    = render '/footer_javascripts'
