!!! 5
%html
  %head
    %meta{'http-equiv' => "Content-type",  :content => "text/html; charset=utf-8"}
    = render :partial => '/extra_html_head' 
    = render :partial => '/title' 
    = render :partial => '/stylesheets' 
    = render :partial => '/ganalytics' 
    = render :partial => '/javascripts' 
    = javascript_include_tag "thirdparty/flotr/0.2.0/flotr"
    = stylesheet_link_tag 'mau-admin'

  %body.admin{:class => @browser_as_class}
    - if @_ie7 
      = render :partial => '/ie7_warning'
    = render :partial => '/noscript_msg'
    .wrapper
      = render :partial => '/login_header_bar'
      #container
        = render :partial => '/header_bar'
        .hstripe
        = render :partial => '/content', :locals => { :cols => 1 }
        .hstripe
        = render :partial => '/footer'
  %script Feedback.init();
