!!! 5
%html
  %head
    = render :partial => '/extra_html_head'
    = render :partial => '/title'
    = render :partial => '/common/stylesheets'
    = render :partial => '/common/ganalytics'
    = render :partial => '/common/javascripts'

  %body.admin{:class => ([@browser_as_class, application_body_class].join " ")}
    - unless browser.modern?
      = render :partial => '/old_browser_warning'
    = render :partial => '/noscript_msg'
    .wrapper
      = render :partial => '/login_header_bar'
      #container
        = render :partial => '/header_bar'
        = render :partial => '/content', :locals => { :cols => 1 }
        = render :partial => '/common/footer'
  = render :partial => '/common/footer_javascripts'
