!!! 5
%html
  %head
    = render :partial => '/extra_html_head'
    = render :partial => '/title'
    = render :partial => '/common/stylesheets'
    = render :partial => '/common/ganalytics'
    = render :partial => '/common/javascripts'

  %body.admin{:class => @browser_as_class}
    - if browser.ie6? || browser.ie7?
      = render :partial => '/ie7_warning'
    = render :partial => '/noscript_msg'
    .wrapper
      = render :partial => '/login_header_bar'
      #container
        = render :partial => '/header_bar'
        .hstripe
        = render :partial => '/content', :locals => { :cols => 1 }
        .hstripe
        = render :partial => '/common/footer'
  = render :partial => '/common/footer_javascripts'
