!!! 5
%html
  %head
    = render :partial => '/extra_html_head' 
    = render :partial => '/title' 
    = render :partial => '/common/stylesheets' 
    = render :partial => '/common/ganalytics' 
    = render :partial => '/common/javascripts' 
  %body{:class => "two_column %s" % @browser_as_class}
    - if @_ie7 
      = render :partial => '/ie7_warning'
    = render :partial => '/noscript_msg'
    #bg
    .wrapper
      = render :partial => '/login_header_bar'
      #container{:class => controller_name}
        = render :partial => '/header_bar'
        .hstripe
        = yield
        .hstripe
        = render :partial => '/common/footer'
      = render :partial => '/credits_footer'     
  = javascript_include_tag "mau/mau_feeds"
  %script Feedback.init();
