!!! 5
%html
  %head
    %meta{'http-equiv' => "Content-Type",  :content => "text/html; charset=utf-8"}
    = render :partial => '/extra_html_head' 
    = render :partial => '/title' 
    = render :partial => '/stylesheets' 
    = render :partial => '/ganalytics' 
    = render :partial => '/javascripts' 
  %body.two_column{:class => @browser_as_class}
    - if @_ie7 
      = render :partial => '/ie7_warning'
    = render :partial => '/noscript_msg'
    #bg
    .wrapper
      = render :partial => '/login_header_bar'
      #container
        = render :partial => '/header_bar'
        .hstripe
        = yield
        .hstripe
        = render :partial => '/footer'
  = javascript_include_tag "mau/mau_feeds"
  %script Feedback.init();
