!!! 5
%html
  %head
    = render '/extra_html_head'
    = render '/title'
    = render '/common/stylesheets'
    = render '/common/ganalytics'
    = render '/common/javascripts'
  %body{class: @browser_as_class}
    - unless browser.modern?
      = render '/old_browser_warning'
    = render '/noscript_msg'
    .row
      .highlight
    .row
      = render '/login_header_bar'
    .row{class: controller_name}
      = render '/header_bar'
    .row.main
      = yield
    .row
      = render '/common/footer'
      = render '/credits_footer'
  = render '/common/footer_javascripts'
