!!! 5
%html
  %head
    = render :partial => '/extra_html_head' 
    = render :partial => '/title' 
    = render :partial => '/common/stylesheets' 
    = render :partial => '/common/ganalytics' 
    = render :partial => '/common/javascripts' 
  %body{ :class => "one_column %s " % @browser_as_class }
    - unless browser.modern?
      = render :partial => '/old_browser_warning' 
    = render :partial => '/noscript_msg' 
    #bg
    = render :partial => '/login_header_bar' 
    #container{:class => controller_name}
      = render :partial => '/header_bar' 
      = render :partial => '/content', :locals => { :cols => 1 } 
      = render :partial => '/common/footer' 
    = render :partial => '/credits_footer'

  = render :partial => '/common/footer_javascripts'
