<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<%= render :partial => '/extra_html_head' %>
	<%= render :partial => '/title' %>
	<%= render :partial => '/stylesheets' %>
        <%= render :partial => '/ganalytics' %>
  </head>
  <body class="<%= @browser_as_class %>">
    <% if @_ie7 -%>
    <%= render :partial => '/ie7_warning' %>
    <% end -%>
    <%= render :partial => '/noscript_msg' %>
    <div>
    <%= render :partial => '/login_header_bar' %>
    <div id="container">
      <%= render :partial => '/header_bar' %>
      <div class="hstripe"></div>
      <%= render :partial => '/content', :locals => { :cols => 1 } %>
      <div class="hstripe"></div>    
      <%= render :partial => '/footer' %>
    </div>      
    </div>
  </body>
        <%= render :partial => '/javascripts' %>
	<script type="text/javascript">Feedback.init()</script>
</html>		
