!!! 5
%html
  %head
    %meta{ :name => "viewport", :content => "width=device-width; initial-scale=1; maximum-scale=1; user-scalable=0" }
    = stylesheet_link_tag 'mau-mobile'
    = stylesheet_link_tag 'http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css'
    %title 
      Mission Artists United 
      = @page_title.blank? ? 'Art is the Mission' : @page_title
    
  %body
    %div{ "data-role" => "page", "data-theme" => "a", "data-url" => request.path }
      %div{ 'data-role' => "header", 'data-backbtn' => "true" }
        %h1
          = @page_title || 'Art is the Mission' 
        %a{ "data-rel" => "back", 'data-icon' => "back" } Back
        %a{ :href => "/", 'data-icon' => "home" } Home
      %div{"data-role" => "content"}
        = yield
      = render :partial => '/mobile/footer'
  = javascript_include_tag "http://code.jquery.com/jquery-1.6.4.min.js"
  = javascript_include_tag "http://code.jquery.com/jquery-mobile/1.0a3/jquery.mobile-1.0a3.min.js"
  = javascript_include_tag "http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"
  = render :partial => '/ganalytics'
