<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<%= render :partial => '/title' %>
	<%= render :partial => '/stylesheets' %>
	<%= render :partial => '/extra_html_head' %>
  </head>
  <body>
    <div id="bg">
    </div>
    <div align="center">
    <%= render :partial => '/login_header_bar' %>
    <div id="container">
      <%= render :partial => '/header_bar' %>
      <div class="hstripe"></div>

      <%= render :partial => '/content', :locals => { :cols => 2 } %>
      
      <div class="hstripe"></div>    
      <%= render :partial => '/footer' %>
    </div>      
    <%= render :partial => '/ganalytics' %>
    </div>
  </body>
    <%=
       javascript_include_tag :defaults, "mau", "mau_feeds"
       %>
    <script>Feedback.init()</script>
</html>		
