!!! 5
%html
  %head
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" }
    = render :partial => '/meta_tags'    
    = render :partial => '/mobile/stylesheets'  
    = render :partial => '/title' 
    
  %body
    %div{ "data-role" => "page", "data-theme" => "a", "data-url" => request.path }
      %div{ 'data-role' => "header", 'data-backbtn' => "true" }
        %h1
          = @page_title || 'Art is the Mission' 
        %a{ "data-rel" => "back", 'data-icon' => "back" } Back
        %a{ :href => "/", 'data-icon' => "home" } Home
      %div{"data-role" => "content"}
        = yield
      = render :partial => '/mobile/footer'

  = render :partial => '/mobile/jquery_includes'
  = render :partial => '/ganalytics'
