!!! 5
%html
  %head
    %meta{ :name => "viewport", :content => "width=device-width; initial-scale=1; maximum-scale=1; user-scalable=0" }
    = render :partial => '/meta_tags'    
    = stylesheet_link_tag "http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.css"
    = stylesheet_link_tag 'mau-mobile'
        
    %title 
      = "Mission Artists United"
      = @page_title.to_s
    
  %body
    %div{ "data-role" => "page", "data-theme" => "a", "data-url" => request.path }
      %div{ 'data-role' => "header", 'data-backbtn' => "true" }
        %a{ "data-rel" => "back", 'data-icon' => "back" } Back
        %a{ :href => "/", 'data-icon' => "home" } Home
        %h1
          = @page_title || 'Art is the Mission' 
      %div{"data-role" => "content"}
        = yield
      = render :partial => '/mobile/footer'
  = render :partial => '/mobile/jquery_includes'
  = render :partial => '/ganalytics'

