<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/stylesheets/jquery-mobile/jquery.mobile-1.0a3.min.css" />
<meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1; user-scalable=0"/>
  <%= stylesheet_link_tag 'mau-mobile' %>
  <title>Mission Artists United : <%= @page_title.blank? ? 'Art is the Mission' : @page_title %></title>
</head>
<body>
<div data-role="page" data-theme="a" data-url="<%= request.path %>">
  <div data-role="header" data-backbtn="true">
    <h1><%= @page_title || 'Art is the Mission' %></h1>
    <a data-rel="back" data-icon="back" >Back</a>
    <a href="/" data-icon="home" >Home</a>
  </div>
  <div data-role="content">
    <%= yield %>
  </div>
  <%= render :partial => '/mobile/footer' %>
</div>
</body>
<script src="http://code.jquery.com/jquery-1.5.min.js"></script>
<script src="/javascripts/thirdparty/jquery-mobile/1.0a3/jquery.mobile-1.0a3.min.js"></script>
</html>
