!!! 5
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"}
    = render :partial => '/meta_tags'    
    = render :partial => '/mobile/stylesheets'  
    %title Mission Artists United
  %body
    %div{'data-role' => 'page', 'data-theme' => 'a'}
      %div{'data-role' => "header", 'data-backbtn' => 'false'}
        %h1 Mission Artists United
      = yield
      = render :partial => '/mobile/footer'
  = render :partial => '/mobile/jquery_includes'
  = render :partial => '/common/ganalytics' 
